.__jobs-list {
  table {
    .uuid {
      #font > .monospace(10px);
      color: @grayLight;
      font-style: italic;
    }
    .actions { width: 140px; }
    .when { width: 200px;}
    small {
     color: @grayLight;
     background: @warningBackground;
     text-transform: uppercase;
     font-size: 10px;
     margin-left: 5px;
    }

    .duration {
      font-size: 12px;
      font-weight: 400;
      strong {
        color: #aaa;
        font-weight: normal;
      }
    }
    .execution {
      width: 100px;
      font-weight: bold;
      font-size: 13px;
      &.succeeded span { background: @activeColor; }
      &.canceled span { background: @gray; }
      &.failed span { background: @dangerColor; }
    }
  }
}
