.__vms-list {
  .vms-list-header {
    .make-row(0);
    background: @state-info-bg;
    .title {
      .make-xs-column(6, 0);
      padding: 10px 15px;
    }
    .actions {
      color: #aaa;
      .make-xs-column(6, 0);
      padding: 10px 15px;
      text-align: right;
    }
  }

  caption { padding: 0;}

  .owned-by {
    color: @gray-light;
    width: 240px;
    font-size: 12px;
  }
  .owner-name { cursor: pointer; margin-right: 5px;}
  .owner-company { display: inline-block; }

  .all {
    padding: 10px;
  }
  .more {
    padding: 10px;
  }
  .counters {
    font-size: 14px;
    padding: 10px;
  }

  td.status { width: 70px; }
  td.memory { width: 80px; text-align: right; padding-right: 30px; }
  .uuid {
    font-size: 10px;
    font-style: italic;
    display: block;
    color: @gray-light;
    font-family: monospace;
  }
  span.type {
    padding: 3px 4px;
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
    background: #ccc;
    font-size: 8px;
    margin-top: -8px;
  }

  td.alias a { cursor: pointer; }

  td.ips {
    width: 130px;
    padding-right: 20px;
  }

  td.ips span {
    display: block;
    font-size: 12px;
    color: @gray;
    font-family: monospace;
  }

  th.package {
    width: 200px;
  }

  td.package-image {
    div { clear: both;}
    span { margin-left: 2px;}
    color: @gray;
    font-size: 12px;
  }

  .state {
    font-size: 10px;
    padding: 4px 6px;
    text-transform: uppercase;
    &.stopped { background-color: @gray-light; color: #fff; }
    &.running { background-color: @brand-success; color: #fff; }
    &.destroyed { background-color: @gray-dark; color: #fff; }
  }
}
