.__vms-filter {
  .widget-content;

  .toggle-filter {
    padding: 10px;
  }
  .toggle-filter:focus { outline: none; }
  .quick>.icon-search { font-size: 18px; color: @gray-light; margin-right: 10px;}
  .quick>div { margin-bottom:0;}
  .buttons { margin-top: 25px; }
}
