#rootnav {
 .navbar .alarms-menu-container {
  a.toggle {
    text-decoration: none;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }
  >a.active {
    background: #fff;
    color: #000;
  }
  a.has-error {
    background: @brand-danger;
  }
  a.active.has-error {
    color: #fff;
    background: @brand-danger;
  }
  a.has-alarms {
    color: #fff;
    background: #e08a00;
  }
  a.active.has-alarms {
    color: #000;
    background: #FFF;
  }
}

.alarms-menu {
  position: absolute;
  width: 320px;
  background: #fff;
  z-index: 1000;
  overflow-y: auto;
  max-height: 400px;
  left: -269px;
  margin-top: -2px;
  padding: 0;

  .alarm-menu-item {
    .alarm-menu-item-content {
      padding: 5px;
      font-size: 12px;
      .fault { padding: 3px; font-size: 10px; }
    }
    .alarm-menu-item-header {
      padding: 6px;
      background: #f8f8f8;
      background: @state-warning-bg;
      .alarm-lastevent {
        font-size: 12px;
        float: right;
        padding: 2px;
      }
      a.probe {
        padding: 0;
        cursor: pointer;
        text-transform: lowercase;
        display: inline-block;
        height: auto;
        text-transform: lowercase;
        color: #333;
      }
      .alarm-menu-item-icon {
        display: inline-block;
        width: 20px;
      }
    }
  }
  .alarm-menu-item.no-alarms {
    padding: 5px;
    color: @brand-success;
  }
  .alarm-menu-item.error {
    color: @brand-danger;
  }
}

}
