@import "bootstrap.less";
@import "variables.less";
@import "signin.less";

body { padding-top: 60px; }

#logo { cursor: default; }

h1 {
  font-size: 32px;
  font-weight: 300;
}
.page-header { margin-bottom: 10px; .clearfix; overflow: hidden; border-bottom: none; }

h1 small { font-size: 18px; text-transform: lowercase;}

h2, h3, h4, h5, h6 { font-weight: 300; }

.actionbar { margin: 30px 0;}

.network-activity-indicator {
  position: fixed;
  width: 100%;
  top: 40px;
  background: #fcff00;
  height: 2px;
}

.navbar .navbar-inner {
  box-shadow: none;
  border-top: 1px solid #d6dde2;
  background-color: #dfe7ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfe7ec), to(#e8eef2));
  background-image: -webkit-linear-gradient(top, #dfe7ec, #e8eef2);
  background-image: -moz-linear-gradient(top, #dfe7ec, #e8eef2);
  background-image: -o-linear-gradient(top, #dfe7ec, #e8eef2);
  background-image: -ms-linear-gradient(top, #dfe7ec, #e8eef2);
  background-image: linear-gradient(top, #dfe7ec, #e8eef2);

  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#dfe7ec', EndColorStr='#e8eef2');
  padding-top: 20px;
  ul.nav { margin-bottom: 0; }

  li {
    a { 
      cursor: pointer;
      font-size: 14px;
      display: block;
      text-transform: uppercase;
      color: #385774; 
    }
  }
  li:hover {

  }
  li.active a { 
    color: #333; 
    .box-shadow(none);
    background: #fff;
  }
  li:hover.active a {
    background: #fff;
    .box-shadow(none);
  }
}

.network-activity-indicator.error { background: #ff1e00; }

#topnav a { cursor: pointer; }
#content {}

#users-counters { text-align: center; }
#users-counters h5 { font-weight: 300; font-size: 36px; margin-top: 1em;}
#users-counters p { margin-top: 1.5em; margin-bottom: 2em; text-transform: uppercase; color: #666;}

#page-users {
  .page-header button { margin-top: 14px;}
}

#sdc-images-list li { display: block; margin-bottom: 1em; }
#sdc-images-list li .item { padding: 1em;  }
#sdc-images-list li .item .name { margin-bottom: 0.5em; }
#sdc-images-list li .item p {  clear: both; }


#notifier-feed {
  width: 300px;
  z-index: 1000;

  li { padding: 0 10px;}
  li .uuid { font-size: 0.9em; }
  li .job.success .name { color: @successText; }
  li .job-name { color: @grayDarker; font-weight: bold; }
  li .task { padding: .3em 0;}
  li .task .name { font-weight: bold; }
  li .task.success { color: @successText; }
}

.vms-list tr {
  cursor: pointer;

  th.status { width: 100px; }
  th.alias { width: 200px; }
  th.memory, td.memory { width: 100px; text-align: right; padding-right: 30px; }

  th.uuid { width: 300px; }
  td.uuid {
    color: @grayLight;
    font-style: italic;
    font-family: monospace;
  }
  span.running { background-color: @successText; }
  span.destroyed { background-color: @grayDark; }
}

.notifications {
  width: 440px;

  text-align: left;

  ul {
    text-align: left;
    list-style: none; margin: 0;
  }

  li { padding: 1em; border-bottom: 1px solid #eee; }
  li .progress { margin-bottom: 0;}
  li .details>* { display: inline-block; font-size: 11px; }
  li .details .name { text-transform: uppercase; width: 100px; }
  li .details .current-step { width: 240px; }
  li .details .execution { width: 40px; font-weight: bold;}
}


#page-servers {
  .servers-list {
    tr td { cursor: pointer; }

    .status { width: 100px; }
    .memory {
      width: 200px;
      .percent { display: inline-block; width: 60px; }
      .breakdown { font-size: 11px; }
    }
  }
}

#page-server {
  .server-details {
    table.overview {
      .table;
      tbody th { width: 140px; }
    }
    table.hardware {
      .table;
      tbody th { width: 140px; }
    }
    table.disks { .table;}
  }
}

#page-vm {
  .dropdown-menu .delete { color: red; }

  .actions { margin-top: -62px; }

  .vms-details {
    .alias {
      input { margin: 0; padding: 0; }
      .rename { margin-left: 10px; }
    }
    .dash {
      &>div {
        padding: 20px;
      }
      text-align: center;
      text-transform: uppercase;
      .title { font-weight: bold; .muted;  font-size: 12px; }
      .value { font-size: 24px; font-weight: bold;}
    }

    .state { }
    .server-hostname { cursor: pointer; }
    .uuid {
      font-size: 10px;
      color: @grayLight;
      font-style: italic;
      font-family: monospace;
    }
    .overview {
      .table;
      .table-bordered;
      tbody th { width: 100px; }
    }
    .vm-uuid,
    .server-uuid,
    .owner-uuid,
    .image-uuid {
      .uuid;
      .pull-right;
    }
  }
}

#page-vms {
  .provision-button { margin-top: 14px;}
}


.select-monitor {
  .modal;
  .modal-header { overflow: hidden; }
}

.probe-http-config {
  .modal;
  width: 580px;
  margin-left: -290;

  select.protocol { width: 80px;}
  form { .form-horizontal; margin-bottom: 0;}
}

.probe-log-scan-config {
  .modal;
  width: 580px;
  margin-left: -290;
  form { .form-horizontal; margin-bottom: 0;}
}

.probe-icmp-config {
  .modal;

  form { .form-horizontal; margin-bottom: 0;}
}

.probe-machine-up-config {
  .modal;
}

.probe-type-select {
  .modal;
  .box {
    display: block;
    overflow: hidden;
    clear: both;
    height: 4em;
    padding: 10px;
    background: #f3f3f3;
    border: 1px solid white;
    border-color: darken(#f3f3f3, 10%);
    color: #555;
    .name { width: 120px; .pull-left; font-weight: bold;}
    .desc { width: 360px; .pull-right; }
    .border-radius(3px);
  }

  .box:hover {
    color: #fff;
    background: @blue;
    border-color: darken(@blue, 10%);
    cursor: pointer;
  }

  .box+.box {
    margin-top: 0.5em;
  }
}

#page-provision {
  .package-details {
    background: #eee;
    padding: 10px;
    width: 300px;
    margin-left: 160px;
    margin-top: 1em;
    font-size: 11px;

    strong, span { display: inline-block; }
    strong { width: 140px;}
  }
}



#page-packages {
  ul li a { overflow: hidden; cursor: pointer;}
  ul li .name { float: left; }
  ul li .version {
    float: right;
    color: @grayDark;
    font-family: @monoFontFamily;
    font-size: 12px;
  }
  ul li.active .version { color: @white;}

  #detail {
    .flags { display: inline-block; width: 80px;}
   .memory, .quota, .vcpus, .swap {
      margin-bottom: 1.5em;
      margin-top: 1.5em;
      width: 140px;
      display: inline-block;
      strong { color: @grayLight; clear: both; display: block; font-size: 13px;}
      font-size: 24px;
    }
  }
}
















.alarms {
  .alarms-list { float: left; width: 500px;}
  .alarms-list>li { 
    display: block;
    overflow: hidden;
    .border-radius(2px);

    .probe-name { font-weight: bold;}
    .time-last-event { font-size: 10px; text-transform: uppercase;}

    .summary {
      background: lighten(@red, 54%);
      padding: 18px;
    }

    .details {
      background: lighten(@red, 62%);
      padding: 18px;
      overflow: hidden;
      padding-left: 30px;
    }


    .actions {
      float: right;
      a { color: @white; font-size: 12px;}
      margin-top: -30px;
    }

    .fault-count { 
      position: relative;
      background: #fff;
      .border-radius(10px);
      color: #000;
      padding: 0 8px;
      float: right;
      left: -40px;
      top: 12px;
      font-size: 14px;
      font-weight: bold;
    }


    .faults>li+li { margin-top: .5em;}

    .faults>li {
      .fault-time { font-size: 11px; color: @grayLight; float: right;}
      .fault-name { font-weight: bold; font-size: 12px; float: left; }
      .fault-message { 
        clear: both;
        font-size: 11px;
        background: lighten(@red, 62%);
        padding: 4px; 
        .border-radius(2px);
      }
    }
  }
}

.probes {
  ul { .clearfix; }
  li {
    padding: 0.5em 0; 
    .status {
      display: inline-block;
      width: 20px;
      margin-right: 10px;
      background: @grayLight;
      .border-radius(10px);
    }
    .status.open {
      background: @yellow;
    }
    .name { display: inline-block; width: 220px; font-weight:bold; }
    .type { display: inline-block; width: 140px; }
  }

  .delete-probe { cursor: pointer; }
}


.tags {
  td.key { width: 140px;}
}
.metadata {
  td.key { width: 140px;}
  td.value { 
    a.view { cursor: pointer; }
    span.value {
      font-family: monospace;
    }
  }
}

.metadata-view {
  .modal-body {
    background: @grayDarker;
    color: @grayLighter;
    #font > .monospace(11px, normal, 1.2);
    white-space: pre;
  }
}
.metadata-edit {
  input { 
    border: none;
    .box-sizing(border-box);
    width: 100%;
    padding: 5px;
    background: lighten(@yellow, 42%);
  }
  input:hover {
    background: lighten(@yellow, 38%);
  }
  input:focus {
    background: @white;
  }
  .modal-body {
    overflow-x: hidden;
    background: @grayDarker;
    textarea { 
      .box-sizing(border-box);
      background: @grayDark;
      color: @grayLighter;
      width: 100%; border: none; 
      padding: 5px;
      #font > .monospace(11px, normal, 1.2);
      height: 360px;
    }
  }
}

.table.editable { 
  tr.editing {
    input {
      border: none;
      background: lighten(@yellow, 40%);
      width: 120px;
      padding: 2px 6px;
      border: none;
      margin: 0;
      font-size: 12px;
    }

    .editing-actions {
      float: right; 
      button {
        line-height: 14px;
        font-size: 12px;
      }
    }
  }

  tfoot td {
    padding: 1px;
  }

  .row-actions {
    opacity: 0.7;
    visibility: hidden; 
    float: right;
  }


  td:hover {}

  td:hover .row-actions {
    visibility: visible;
    a { 
      cursor: pointer;
      margin-left: 5px;
      color: #111;
    }
  }
}
