@import "bootstrap.less";
@import "variables.less";

body {
  padding-top: 64px;
}

.modal {
  form { margin: 0; }
}

.navbar-inner { height: 39px;}
#topnav a { cursor: pointer; }

#signin { margin: 0 auto; width: 300px;}
#signin input { width: 290px; }
#signin .header { margin-bottom: 30px; text-align: center; }

#content .page-header { overflow: hidden; }
#content h2 { font-weight: 300; }

#users-counters { text-align: center; }
#users-counters h5 { font-weight: 300; font-size: 36px; margin-top: 1em;}
#users-counters p { margin-top: 1.5em; margin-bottom: 2em; text-transform: uppercase; color: #666;}

#sdc-images-list li { display: block; margin-bottom: 1em; }
#sdc-images-list li .item { padding: 1em;  }
#sdc-images-list li .item .name { margin-bottom: 0.5em; }
#sdc-images-list li .item p {  clear: both; }


#notifier-feed {
  width: 300px;
  z-index: 1000;

  li { padding: 0 10px;}
  li .uuid { font-size: 0.9em; }
  li .job.success .name { color: @successText; }
  li .job-name { color: @grayDarker; font-weight: bold; }
  li .task { padding: .3em 0;}
  li .task .name { font-weight: bold; }
  li .task.success { color: @successText; }
}
