@import "bootstrap.less";
@import "variables.less";

@activeColor: #00d295;
@dangerColor: lighten(@red, 20%);
@warningColor: @yellow;

@import "lib/typeahead.js-bootstrap.less";
@import "lib/bootstrap-datetimepicker.less";
@import "lib/chosen.js-bootstrap.less";
@import "lib/rickshaw.less";

@import "signin.less";
@import "notifications.less";
@import "typeahead.less";
@import "lib/bootstrap-tags.less";

@import "images-list.less";
@import "servers-list.less";
@import "image-import.less";
@import "user-preview.less";

@import "vm.less";
@import "vms.less";

@import "image.less";
@import "settings.less";

@import "job-progress.less";

@import "dashboard.less";

@import "users.less";
@import "user.less";

@import "networks.less";
@import "network.less";

@import "packages.less";
@import "package.less";

@import "server.less";
@import "servers.less";
@import "server-boot-options.less";

@import "services.less";

@import "jobs.less";
@import "job.less";

@import "provision.less";

@import "fwrules-list.less";
@import "fwrules-form.less";
@import "nictag.less";



body { height: 100%; }
html { height: 100%; }

#chrome { min-height: 100%; }
#content a { cursor: pointer;}
#content section { margin-bottom: 10px; }
#footer { height: 24px; background: #dfe7ec; }

.btn-primary {
  &.disabled,
  &[disabled] {
    background: desaturate(@btnPrimaryBackground, 30%);
  }
}
.btn-link.disabled {
  color: @grayLight;
}

.text-warning { background: lighten(@warningBackground, 4%) ;}

.widget-container {}

.widget-header {
  #gradient > .vertical(#e8eef2, darken(#e8eef2, 2%));
  border: 1px solid darken(#e8eef2, 5%);
}
.widget-content {
  border: 1px solid #f3f3f3;
  #gradient > .vertical(#f8f8f8, #fafafa);
  padding: 10px 14px;
}

.page-header {
  .clearfix;
  margin-bottom: 10px;
  overflow: hidden;
  border: none;

  .resource-status {
    &>span {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      color: #FFF;
      padding: 4px 6px;
      background: #222;
      font-weight: bold;
    }
  }

  h1 {
    font-size: 26px;
    font-weight: 300;

    .uuid {
      text-transform: lowercase;
      #font > .monospace(12px);
    }

    .actions { font-size: 18px; .pull-right; }

  }

  &+.actions {
    .pull-right;
    margin-top: -62px;
    position: relative;
    z-index: 100;
  }
}

// Headings
// -------------------------

h1 { font-size: 28px; line-height: (2*@baseLineHeight); }
h2 { font-size: 24px; line-height: (2*@baseLineHeight); font-weight: 300; }
h3 { font-size: 21px; line-height: (2*@baseLineHeight); font-weight: 200; }
h4 { font-size: 18px; line-height: @baseLineHeight; }
h5 { font-size: 14px; line-height: @baseLineHeight; }
h6 { font-size: 12px; line-height: @baseLineHeight; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }

h3 .actions {
  display: inline-block;
  float: right;
  .btn-link {
    font-size: 18px;
  }
}

.alert {
  h4.alert-heading { font-weight: 400; font-size: 13px; }
  ul li { font-size: 13px;}
}
.zero-state {
  .widget-content;
  color: @grayLight;
}
.zero-state + button { margin-top: @baseLineHeight/2;}


form.unstyled { margin: 0; padding: 0;}
table.vertical { tr, td { border: none;}}
.record-summary {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
  padding: 8px 12px;
}

.table {
  margin-bottom: 0;
  caption {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    color: #aaa;
    padding: 8px 12px;
  }

  tr.selected {
    background: #fff2da;
  }
  td, th {
    border: none;
  }

  thead {
    tr {
      border: 1px solid #e8eef2;
    }
    th {
      background: lighten(#e8eef2, 2%);
      color: darken(#dfe7ec, 30%);
      padding: 5px 8px;
      font-size: 13px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
  tbody {
    tr { .widget-content; }
    th { font-weight: 400; color: #888;}
  }
}

.error-modal {
  border: 1px solid red;
  .modal-header {
    background: red;
    color: #FFF;
  }
  pre { font-size: 10px; line-height: 1.5;}
}


h1.branding {
  .version {  }
  .product { color: #ff6600; font-weight: 300;}
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

#topbar {
  background: lighten(#e8eef2, 3%);
  cursor: default;
  padding: 16px 10px 16px 10px;
  color: #666;
  line-height: 20px;

  .server-time {
    margin-top: 3px;
    font-size: 12px;
  }

  .acc-controls {
    margin-top: 3px;
    font-size: 12px;
    text-align:right;
    a.signout { cursor: pointer; text-transform: uppercase; }
    .login-name { margin: 0 8px; }
  }
  .datacenter, .branding {
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: #666;
  }
  .datacenter {
    margin-right: 10px;
  }
}

#rootnav {
  // border-top: 1px solid #d6dde2;
  background: lighten(#e8eef2, 3%);
  padding: 0;
  margin-bottom: 8px;

  .navbar { margin-bottom: 0;}
  .navbar-inner {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    min-height: 0;

    ul.nav { margin-bottom: 0; }

    li a {
      padding: 5px 10px;
      text-transform: uppercase;
      text-shadow: none;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      color: lighten(#4d779f, 20%);
      .box-shadow(none);
    }
    li.active {
      padding-bottom: 0;
      background: #fff;
   }
    li.active a {
      color: @textColor;
      .box-shadow(none);
    }

    li:hover.active a {
      .box-shadow(none);
    }
  }
  li.settings { margin-left: 30px;}


  overflow: hidden;
}




#user-form {
  .modal-body { max-height: 480px; }
}



#sshkey-view {
  textarea {
    .box-sizing(border-box);
    #font > .monospace(12px);
    height: 170px;
    padding: 10px;
    border: none;
    background: #f3f3f3;
    width: 100%;
  }
}

#sshkey-create {
  input[name=name] {
    width: 100%;
    #font > .monospace(12px);
    padding: 5px;
    .box-sizing(border-box);
  }
  textarea {
    margin-top: 2px;
    .box-sizing(border-box);
    width: 100%;
    height: 120px;
    margin-bottom: 0;
    #font > .monospace(10px);
    white-space: pre;
  }
}




#server-nics-edit {
  width: 700px;
  .modal-body {
    min-height: auto;
  }
  margin-left: -350px;
}

#vm-change-owner {
  .modal-body {
    min-height: 150px;
  }
}



.filter-panel {
  .box-sizing(border-box);
  padding: 10px;
}

.select-monitor {
  .modal;
  .modal-header { overflow: hidden; }
}

.modal {
  .modal-header h1 { font-size: 24px; line-height: 20px;}
}
.modal form { margin-bottom: 0;}

.probe-http-config {
  .modal;
  width: 580px;
  margin-left: -290;

  select.protocol { width: 80px;}
  form { .form-horizontal; margin-bottom: 0;}
}

.probe-log-scan-config {
  .modal;
  width: 580px;
  margin-left: -290;
  form { .form-horizontal; margin-bottom: 0;}
}

.probe-icmp-config {
  .modal;

  form { .form-horizontal; margin-bottom: 0;}
}

.probe-machine-up-config {
  .modal;
}

.probe-type-select {
  .modal;
  .box {
    display: block;
    overflow: hidden;
    clear: both;
    height: 4em;
    padding: 10px;
    background: #f3f3f3;
    border: 1px solid white;
    border-color: darken(#f3f3f3, 10%);
    color: #555;
    .name { width: 120px; .pull-left; font-weight: bold;}
    .desc { width: 360px; .pull-right; }
    .border-radius(3px);
  }

  .box:hover {
    color: #fff;
    background: @blue;
    border-color: darken(@blue, 10%);
    cursor: pointer;
  }

  .box+.box {
    margin-top: 0.5em;
  }
}

.resize-vm {
  .modal-body {
    overflow: visible;
  }
}


.package-preview {
  background: #fff;
  padding: 8px 8px;
  width: 300px;
  margin-top: 1em;
  font-size: 13px;
  .title { font-weight: bold; font-size: 14px;}

  strong, span { display: inline-block; }
  strong { font-weight: normal; width: 140px;}
  span { font-weight: bold; }
}

/** Attributes styling **/
ul.attributes {
  margin-bottom: 0;
  li+li { }
  li {
    .widget-content;
    strong {
      .opacity(60);
      display: inline-block;
      width: 180px;
    }

    .value {
      display: inline-block;
    }
    .uuid {
      #font > .monospace(12px);
    }
  }
}



#network-create-modal {
  width: 720px;
  margin-left: -360px;
  .add-route { display: block; margin: 5px; cursor: pointer;}
  .remove-route { cursor: pointer; padding-left: 5px; padding-right: 5px;}
  .modal-body {
    min-height: 480px;
  }
}

#network-pools-create {
  .modal-body { overflow: visible;}
}

















.alarms {
  .alarms-list { margin: 0;}
  .alarms-list>li {
    display: block;
    overflow: hidden;
    .border-radius(2px);

    text-align: left;
    .probe-name { font-weight: bold; font-size: 14px;}
    .time-last-event { font-weight: normal; font-size: 10px; text-transform: uppercase;}

    .summary {
      cursor: pointer;
      background: lighten(@red, 40%);
      padding: 18px;
      border-bottom: 1px solid #fff;
    }

    .details {
      .widget-content;
      background: #f8f8f8;
      color: #333;
      padding: 14px;
      overflow: hidden;
    }


    .actions {
      float: right;
      a { color: @white; font-size: 12px;}
      margin-top: -50px;
    }

    .fault-count {
      position: relative;
      background: #fff;
      .border-radius(10px);
      color: #000;
      padding: 0 8px;
      float: right;
      top: 24px;
      font-size: 11px;
      font-weight: bold;
    }

    .faults>li {
      .fault-time { font-size: 11px; color: #000; font-weight: normal; float: right;}

      .fault-name { font-weight: bold; font-size: 12px; float: left; }

      .fault-details {
        #font > .monospace(10px);
        white-space: pre;
        line-height: 10px;
        font-weight: normal;
        padding: 10px;
        background: #FFF;
        border-top: 1px solid #eee;
      }

      .fault-message {
        clear: both;
        font-weight: normal;
        font-size: 11px;
        background: #fff;

        padding: 4px 8px;
        .border-radius(2px);
      }
    }

    .faults>li+li { margin-top: .5em;}
  }
}

.probes {
  ul { .clearfix; }
  li {
    padding: 0.5em 0;
    .status {
      display: inline-block;
      width: 20px;
      margin-right: 10px;
      background: @grayLight;
      .border-radius(10px);
    }
    .status.open {
      background: @yellow;
    }
    .name { display: inline-block; width: 220px; font-weight:bold; }
    .type { display: inline-block; width: 140px; }
  }

  .delete-probe { cursor: pointer; }
}


.tags-container {
  td.key { width: 140px;}
  .add-tag { margin-top: 10px;}
}

.metadata-list {
  td.key { width: 140px;}
  td.value {
    a.view { cursor: pointer; }
    span.value {
      #font > .monospace(13px);
      line-height: 1;
      white-space: pre;
      display: block;
      overflow: auto;
      max-height: 360px;
      cursor: default;
      padding: 8px;
    }
    textarea.value {
      #font > .monospace(13px);
      line-height: 1;
      width: 100%;
      .box-sizing(border-box);
      height: 30px;
      padding: 8px;
      max-height: 360px;
    }
  }
}

.metadata-view {
  .modal-body {
    background: @grayDarker;
    color: @grayLighter;
    #font > .monospace(11px, normal, 1.2);
    white-space: pre;
  }
}
.metadata-edit {
  input {
    border: none;
    .box-sizing(border-box);
    width: 100%;
    padding: 5px;
    background: lighten(@yellow, 42%);
  }
  input:hover {
    background: lighten(@yellow, 38%);
  }
  input:focus {
    background: @white;
  }
  .modal-body {
    overflow-x: hidden;
    background: @grayDarker;
    textarea {
      .box-sizing(border-box);
      background: @grayDark;
      color: @grayLighter;
      width: 100%; border: none;
      padding: 5px;
      #font > .monospace(11px, normal, 1.2);
      height: 360px;
    }
  }
}

.table.editable {
  tr td.key { width: 160px;}
  tr.editing {
    input {
      border: none;
      background: lighten(@yellow, 42%);
      .box-sizing(border-box);
      padding: 4px 6px;
      border: none;
      margin: 0;
      font-size: 12px;
    }
    .key input {
      width: 100%;
    }
    .value input {
      width: 140px;
    }

    .editing-actions {
      float: right;
      button {
        padding: 3px 10px;
        font-size: 13px;
      }
    }
  }

  .row-actions {
    opacity: 0.7;
    visibility: hidden;
    float: right;
  }


  td:hover {}
  td:hover .row-actions {
    visibility: visible;
    a {
      cursor: pointer;
      margin-left: 5px;
      color: #111;
    }
  }
}




.notes {
  li { border-bottom: 1px solid #eee; }
  li:last-child { border-bottom: none; }
  li.empty { color: @grayLight; }
  li.archived {
    .meta { background: #efefef;}
    .author { color: #aaa;}
    .note { color: #aaa;}
    text-decoration: line-through; opacity: 0.8;
  }

  .meta { overflow: hidden; .widget-header; padding: 5px 8px;}
  .author { float: left;}
  .actions { float: right;}
  .actions a { margin-left: 15px;}
  .actions a .icon-trash { color: @red; }
  .actions a .icon-undo { color: @grayLight; }

  .date { font-size: 12px; color: @gray; float: right;}
  .note { .widget-content; display: block; padding: 8px; font-size: 12px; white-space: pre-wrap;}

  ul { height: 320px; overflow-y: scroll; }
  textarea { width: 98%; }
  button { float: right; width: 100px;}
}



#traits-editor {
  textarea {
    .box-sizing(border-box);
    background: @grayDark;
    color: @grayLighter;
    width: 100%; border: none;
    padding: 5px;
    #font > .monospace(11px, normal, 1.2);
    height: 300px;
  }
  .error { float: left; color: red; }
}





#application-create {
  margin-top: -360px;
  .modal-body {
    max-height: 800px;
  }
}


.nictags-component {
  ul {
    margin: 0;
  }
  ul li {
    list-style: none;
    .widget-content;
  }
  ul li:last-child {
    margin-right: 0;
  }
}
