#page-dashboard {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .row {
    margin-bottom: 20px;
  }

  .alarms-container {
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    color: #FFF;
    .has-alarms {
      overflow: hidden;
    }
    .no-alarms {
      .widget-content;
      .box-sizing(border-box);
      strong {
        font-weight: 300;
        display: block;
        color: #62C2B4;
        font-size: 38px;
        padding: 10px 0;
      }
      font-size: 14px;
      font-weight: 200;
      color: #aaa;
      padding: 20px 48px;
    }
  }

  .servers .counter .value { color: #6595B5;}

  .counter {
    .box-sizing(border-box);
    .widget-content;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;

    .name {
      display: block;
      text-transform: uppercase;
      color: #888;
      padding: 6px 0;
    }

    .value {
      font-weight: 300;
      font-size: 38px;
      padding: 10px 0;
      display: block;
      color: #62C2B4;
    }
  }
}

