ul.fwrules-list {
  #font > .monospace(12px);
  li { margin-bottom: .5em; }
  li:last-child { margin: 0; }

  li>div {
    display: inline-block;
    padding-left: 6px; padding-right: 6px;
    background: @grayLighter;
  }

  .to {
    background: @infoBackground;
    color: #333;
  }

  .from-predicate { color: #FFF; background: @grayLight; }
  .to-predicate { color: #FFF; background: @grayLight; }

  .action { color: #FFF; font-weight: bold;}
  .ALLOW { background: @activeColor; }
  .BLOCK { background: @dangerColor; }
}
