.images-list {
  .table;
  .state span {
    color: #fff;
    font-size: 10px;
    padding: 4px 6px;
    text-transform: uppercase;

    &.active { background: @activeColor; }
    &.disabled { background: @gray; }
    &.unactivated { background: @yellow; }
  }

  th.state { width: 60px; }
  th.os { width: 120px; }
  th.published { width: 120px;}
  th.visibility { width: 100px;}
  .version { color: @gray; margin-left: 10px; font-size: 11px; }
  .uuid {
    font-size: 12px;
    color: @grayLight;
    font-style: italic;
    font-family: monospace;
  }
  td.visibility {
    width: 100px;
    .public { font-weight: bold;}
    .private { font-weight: bold;}
  }
}
