#page-image-import {
  .source-select {
    margin-bottom: 40px;
    select.form-control {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding: 10px;
    }
  }
}


.image-importing .modal-body {
  font-size: 32px;
  text-align: center;
  i { font-size: 48px; display: block; margin-top: 50px; margin-bottom: 20px;}
}
.image-import-selector {
  thead { display: none; }
  tbody td { cursor: pointer; vertical-align: middle; }
  tbody tr:hover td { background: lighten(@state-info-bg, 48%) };
  tbody td small { color: @gray-light; display: block;}

  .version { color: @gray; margin-left: 10px; font-size: 11px; }
}
