#job-progress {
  .job-details {
    font-size: 14px;
    cursor: pointer;
  }

  .modal-header small {
    color: @gray-light;
    font-style: italic;
    font-family: @font-family-monospace;
  }


  .chain-results {
    li {
      padding: 5px 10px;
      background: #f3f3f3;
      margin-bottom: 0.5em; font-size: 12px;
    }

    li.error {
      background: @brand-danger;
    }

    li > * {
      display: inline-block;
      vertical-align: top;
    }
    .started-at { width: 120px; }
    .started-at i {
      padding-right: 5px;
    }
    .finished-at { width: 120px; }
    .finished-at i {
      padding-right: 5px;
    }
    .name { font-weight: bold; }
    .task { width: 300px;}
    .time { padding-right: 10px; color: @gray-light; font-size: 10px; text-align: right; }
    .duration {
      .value {
        display: inline-block;
        width: 40px;
        text-align: right;
        color: @gray;
        font-size: 10px;
      }
    }
  }
  .raw {
    max-height: inherit;
    overflow-x: scroll;
    .box-sizing(border-box);
    padding: 10px;
    display: none;
    background: #222;
    color: #fff;
    font-family: @font-family-monospace;
    font-size: 10px;
    line-height: 1.2;
    white-space: pre;
  }
  .wait {
    float: left;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #888;
    img { margin-left: 10px;}
  }

  .execution {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 100px;
    background: #333;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    padding: 10px;
    color: #fff;
    .box-sizing(border-box);


    .queued { color: yellow; }
    .running { color: yellow; }
    .succeeded { color: #a8ff00; }
    .failed { color: #ff4200; }
   }
}
