#page-packages {
  .page-header { margin-bottom: 0; }

  .sidebar {
    border-right: 1px solid #DFE7EC;

    .search {
      clear: both;
      padding-top: 10px;
      input { font-size: 12px; }
    }
  }

  #list {
    ul li { margin-bottom: 0.5em;}
    ul li a {
      .widget-content;

      overflow: hidden;
      cursor: pointer;
      padding: 5px 12px;

      .name {
        width: 200px;
        display: inline-block; }
      .version {
        display: inline-block;
        color: @grayDark;
        font-family: @monoFontFamily;
        font-size: 10px;
        margin-left: 10px;
      }
    }
  }

  .billing-id .value { font-family: @monoFontFamily; font-size: 10px;}
}

