#server-boot-options {
  textarea {
   font-family: @font-family-monospace;
   font-size: 12px;
 }
 .error {
    font-size: 12px;
    margin-left: 10px;
    color: @alert-danger-text;
  }
  h6 { margin-bottom: 1em; text-transform: uppercase; margin-top: 0;}
}
