.servers-list {
  .zero-state {
    text-align: center;
    display:block;
  }
  .servers-list-item {
    margin-bottom: 10px;
    .widget-content;
    overflow: hidden;
    .status {
      float: left;
      width: 10px;
      margin-right: 10px;
      height: 80px;
      &.running { background: @activeColor; }
      &.unavailable { background: @dangerColor;}
      &.unknown { background: @dangerColor;}
    }
    .setup-status {
      width: 300px;
      margin-top: 20px;
      font-size: 14px;
      .setup {
      }
      float: left;
      padding: 5px;
      text-align: right;
    }

    .name {
      float: left;
      padding: 20px;

      .uuid {
        font-size: 10px;
        color: @grayLight;
        font-style: italic;
        display: block;
        width: 280px;
        font-family: monospace;
      }
    }

    a { cursor: pointer; }


    .memory-usage {
      padding: 20px 10px;
      padding-top: 25px;
      width: 300px;
      float: left;
      .memory-usage-stat {
        font-size: 12px;
        color: @grayLight;
        text-align: right;
        .avail { color: #00d295;}
      }
      .memory-usage-graph {
        line-height: 0;
        height: 3px;
        width: 100%;
      }
    }

    .last-status {
      padding: 10px;
      font-size: 12px;
      width: 220px;
      float: right;
      i { padding: 0 4px; width: 8px;}
      strong { font-weight: normal; text-transform: uppercase; padding-right: 8px; color: @grayLight;}
    }

    .last-boot { color: @gray;}
    .last-heartbeat { color: @gray; }
    .last-platform {
      .platform {
        background: #f3f3f3;
      }
    }

    .reserved {
      margin-left: 10px;
      background: @warningBackground;
    }
  }

}
