#signin {
  .modal {
    width: 320px;
    margin-left: -160px;
    form { margin: 0; }

    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Helvetica Neue";
      padding: 20px;
      text-align: center;
    }
    .alert { text-align: center; .border-radius(0); }
    form {
      overflow: hidden;
      padding: 20px;
      padding-top: 0;
      input { .input-xlarge; }
      button { .pull-right; }
    }
  }
}

