.typeahead-user {
    .login { font-weight: bold; }
    .uuid { font-size: 10px; color: @gray;}
    &.tt-is-under-cursor {
        .uuid { color: #FFF; }
    }
    .email { font-size: 12px; }
}
.typeahead-server {
    .hostname { font-weight: bold;}
    .uuid { font-size: 10px; color: @gray;}
    &.tt-is-under-cursor {
        .uuid { color: #FFF; }
    }
}
