@import "__vms-list";


#page-user {
  .user-icon {
    width: 65px;
    height: 65px;
    background-color: #FFF;
    background-position: middle;
    background-repeat: no-repeat;

    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
  }


  .vms-list { .__vms-list; }
  .vms-filter { .__vms-filter; }

  .user-details {
    th { width: 160px;}
    .provisioning.approved { color: @state-success-text; }
    .provisioning.disabled { color: @state-danger-text; }
    .registered-developer.yes { color: @state-success-text; }
    .registered-developer.no { color: @state-danger-text; }
  }
    .portal-2fa.disabled { color: @state-danger-text; }

  .toggle-2fa { float: right; margin-right: 10px;}

  .limits-list {
    ul li {
      .datacenter {
        .widget-content;
        .widget-header;
        .actions {
          float: right;
          a.edit { color: @gray; }
          a.del { color: @brand-danger; margin-left: 10px; }
        }
      }
      .limit {
        .widget-content;
        .image { color: @gray-light; display: inline-block; width: 200px; font-weight: bold; }
        .value { display: inline-block; width: 200px; }
      }
    }
  }

  .items::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  .items::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .ssh-keys {
    .items {
      overflow-y: auto;
      max-height: (4px*62);
      margin-bottom: 10px;
    }
    .details, .actions { display: inline-block; vertical-align: middle;}
    .details { width: 380px;}

    .item {
      .widget-content;
      .fingerprint {
        font-family: @font-family-monospace;
        font-size: 10px;
        line-height: 20px;
        color: @gray-light;
      }
      .remove { display: inline-block; font-size: 12px; text-decoration: none; color: @brand-danger; padding: 8px; visibility: hidden;}
      &:hover .remove { visibility: visible; };
    }

  }

  .networks-list {
    #page-networks > .networks-list;
    // li .name { width: 180px; }
    // li .vlan { width: 60px; }
    // li .provision-ip-range { display: none;}
    // li .gateway { width: 100px; }
  }

  .network-pools-list {
    #page-networks > .network-pools-list;
  }
}


#sshkey-view {
  .modal-footer { margin-top: 0; }
}
