#page-users {
  .users-search {
    .widget-content;
  }
  .users-container { .widget-container; }
  .page-header button { margin-top: 14px;}

  .user-icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    background-position: middle;
    background-repeat: no-repeat;

    border-radius: 50%;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 20px;
    display: inline-block;
  }


  .users-list {
    .zero-state {
      text-align: center;
      display: block;
    }
  }

  .users-list-item {
    .widget-content;
    margin-bottom: 10px;
    overflow: hidden;
    .status {
      float: left;
      width: 15px;
      margin-right: 10px;
      height: 80px;
      &.running { background: @state-success-bg; }
      &.unavailable { background: @state-danger-bg;}
      &.unknown { background: @state-danger-bg;}
    }


    a { cursor: pointer; }
    a:hover { text-decoration: underline; }
    .login {
      font-size: 18px;
      display: inline;
    }
   .name {
      background: #FFF;
      font-size: 14px;
      color: #aaa;
      display: inline;
    }

    .cn { padding-right: 2px; color: #444; }
    .company { padding-left: 2px; color: #444; }
    .email { font-size: 12px; line-height: 20px; }
    .uuid {
      line-height: 20px;
      font-style: italic;
      display: block;
      font-family: @font-family-monospace;
      font-size: 10px;
      color: @gray-light;
    }

    .provisioning { text-transform: uppercase; font-size: 12px; color: #888; }
    .provisioning strong { text-transform: uppercase; }
    .provisioning strong.enabled { color: @state-success-text; }
    .provisioning strong.disabled { color: @state-danger-text; }

  }

  .caption { padding: 0; margin-top: -10px; }
  .more {
    width: 100%;
    display: block;
    text-align: center;
    background: @state-info-bg;
    padding: 10px;
    .box-sizing(border-box);
  }
  .counters { padding: 10px;}


}

