@import '__jobs-list';

section.fwrules {
  .actions { font-size: 14px;}
  .firewall-toggle-button { display: inline-block; margin-right: 3px;}
}

#vm-nic-form .modal-body {
  overflow-y: visible;
}

#page-vm {
  #vm-nics {
    .primary { font-size: 10px; color: @activeColor; margin-left: 5px;}
  }
  .jobs-list {
    .__jobs-list;
  }
  .dropdown-menu .delete { color: red; }

  .resource-status {
    .running { background: @activeColor; }
    .failed { background: @dangerColor; }
    .stopped { background: @grayLight; }
  }

  .image-name-version.disabled { color: @grayLight; cursor: pointer; }
  .image-name-version.error { color: @dangerColor; }

  .vms-details {
    .alias {
      input { margin: 0; padding: 0; }
    }
    .server-hostname { cursor: pointer; }
    .uuid {
      font-size: 10px;
      color: @grayLight;
      font-style: italic;
      font-family: monospace;
    }
    .overview {
      .table;
      tr { .widget-content; }
      tbody {
        th { width: 120px; }
        td .mutate { visibility: hidden; }
        td:hover .mutate { visibility: visible; }
        td>*:first-child { display: inline-block; width: 480px; };
      }
    }
    .vm-uuid,
    .server-uuid,
    .owner-uuid,
    .billing-id,
    .image-uuid {
      .uuid;
      .pull-right;
    }
  }
  .snapshots {
    .rollback { color: @dangerColor; }
    .empty { color: @grayLight; }
  }

  .notes-component-container {
    vertical-align: middle;
    display: inline-block;
    .notes-count {
      font-size: 18px;
      padding-top: 4px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
