@import '__jobs-list';

section.fwrules {
  .fwrules-list-region {
    .widget-content;
  }
  .actions { font-size: 14px;}
  .firewall-toggle-button { display: inline-block; margin-right: 3px;}
}

#page-vm {
  #vm-nics {
    .primary { font-size: 10px; color: @brand-success; margin-left: 5px;}
  }
  .jobs-list {
    .__jobs-list;
  }
  .dropdown-menu .delete { color: red; }

  .resource-status {
    .running { background: @brand-success; }
    .failed { background: @brand-danger; }
    .stopped { background: @gray-light; }
  }

  .image-name-version.disabled { color: @gray-light; cursor: pointer; }
  .image-name-version.error { color: @brand-danger; }

  .vms-details {
    .alias {
      input { margin: 0; padding: 0; }
    }
    .server-hostname { cursor: pointer; }
    .uuid {
      font-size: 10px;
      color: @gray-light;
      font-style: italic;
      font-family: monospace;
    }
    .overview {
      .table;
      th { padding-left: 13px; }
      tbody {
        th { width: 120px; }
        td .mutate { visibility: hidden; }
        td:hover .mutate { visibility: visible; }
        td>*:first-child { display: inline-block; width: 480px; };
      }
    }
    .vm-uuid,
    .server-uuid,
    .owner-uuid,
    .billing-id,
    .image-uuid {
      .uuid;
      .pull-right;
    }
  }
  .snapshots {
    .rollback { color: @brand-danger; }
    .empty { padding: 15px 0; color: @gray-light; text-align: center; }
  }

  .notes-component-container {
    vertical-align: middle;
    display: inline-block;
    .notes-count {
      font-size: 18px;
      padding-top: 4px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
