{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "max-len": [
            "error",
            80,
            {
                "tabWidth": 8,
                "ignoreComments": false,
                "ignoreTrailingComments": false,
                "ignoreUrls": true
            }
        ],
    }
}
