/make_stamps
*.swp
/node_modules
/tmp
/bits
build
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
smf/manifests/*.xml
.DS_Store
www/app.js*
www/app.css*
www/libs.js*
npm-debug.log
.idea/*
adminui-pkg-*.gz
