<% var moment = require('moment') %>
<% if (alarms.length) { %>
<div class="alarms-container has-alarms">
  <ul class="list-unstyled alarms-list">
   <% alarms.each(function(alarm) { %>
   <li data-uuid="<%= alarm.get('id') %>">
     <div class="summary">
      <div class="fault-count">
       <%= alarm.get('numEvents') %>
      </div>

      <div class="probe-name">
       <% if (alarm.probeGroup) { %>
       <%= alarm.probeGroup.name %>
       <% } %>
       <% if (alarm.probe) { %>
       <%= alarm.probe.name %>
       <% } %>
     </div>

     <div class="time-last-event">
       <%= new Date(alarm.get('timeLastEvent')) %>
     </div>

     <div class="actions">
       <a class="suppress"><i class="icon-remove icon-white"></i></a>
     </div>
   </div>

  <div class="details">
    <ul class="list-unstyled faults">
    <% _.each(alarm.faults, function(fault) { %>
    <li>
      <div class="fault-name"><%= fault.probe.name %></div>
      <div class="fault-time"><%= moment(fault.event.time).utc().format('LLL') %></div>
      <div class="fault-message"><%= fault.event.data.message %></div>
      <div class="fault-details"><%= JSON.stringify(fault.event.data.details, null, 2) %></div>
    </li>
    <% }); %>
  </ul>
</div>
</li>
<% }); %>
</ul>
</div>
<% } else { %>
<div class="alarms-container no-alarms"><strong>No alarms ☺ </strong> everything looking good :)</div>
<% } %>
