<div id="rootnav-container" class="rootnav-container"></div>
<div id="notifications"></div>

<div class="container-fluid">
    <div class="row">
        <div id="secondarynav-container" class="col-sm-2">
            <div id="server-time"><i class="fa fa-clock-o"></i> UTC <time></time></div>
        </div>
        <div id="content" class="col-sm-10"></div>
    </div>
</div>
