<div id="topbar">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1 class="branding">
          <span class="joyent">Joyent</span>
          <span class="sdc">SmartDataCenter</span>
          <span class="product">Operations Portal</span>
          <span class="version">7.0</span>
        </h1>
      </div>
      <div class="span6">
        <div class="acc-controls">
          <span class="current-user"><i class="icon-user"></i><span class="login-name"></span></span>
          <a class="signout">
            Sign out <i class="icon-signout"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="rootnav">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav" id="mainnav">
          <li data-view="dashboard"><a href="/dashboard">Dashboard</a></li>

          <li data-view="vms"><a href="/vms">Instances</a></li>
          <li data-view="servers"><a href="/servers">Servers</a></li>
          <li data-view="users"><a href="/users">Users</a></li>

          <li data-view="images"><a href="/images">Images</a></li>
          <li data-view="networks"><a href="/networks">Networks</a></li>
          <li data-view="packages"><a href="/packages">Packages</a></li>

          <li data-view="jobs"><a href="/jobs">Jobs</a></li>
          <li data-view="services"><a href="/services">Services</a></li>

          <li class="fishbulb"><a href="/fishbulb" target="fishbulb">Cloud Analytics</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="notifications"></div>
<div class="container">
  <div class="row">
    <div id="content" class="span12"></div>
  </div>
</div>
