<div class="row">
  <div class="counters">
    <div class="counter span3">
      <div class="value vm-count"></div>
      <div class="name">VIRTUAL MACHINES</div>
    </div>
    
    <div class="counter span3">
      <div class="value server-count">-</div>
      <div class="name">Servers</div>
    </div>

    <div class="counter span3">
      <div class="value server-count">-</div>
      <div class="name">Servers</div>
    </div>
    
    <div class="counter span3">
      <div class="value server-count">-</div>
      <div class="name">Servers</div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="span6">
    <div class="alarms-container">
      <div id="dashboard-alarms" class="alarms"></div>
    </div>
    <div class="widget-label">
      Alarms
    </div>
  </div>
</div>