<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <div class="counter span4">
    <div class="value vm-count"></div>
    <div class="name">Virtual Machines</div>
  </div>
  <div class="counter span4">
    <div class="value server-count">-</div>
    <div class="name">Servers</div>
  </div>
  <div class="counter span4">
    <div class="value user-count">-</div>
    <div class="name">Users</div>
  </div>
</div>

<div class="row servers">
  <div class="counter span3">
    <div class="value">
      <span class="server-reserved">-</span> / <span class="server-count">-</span>
    </div>
    <div class="name">Servers Reserved</div>
  </div>

  <div class="counter span6">
    <div class="value">
      <span class="server-available-memory"></span>
      /
      <span class="server-total-memory"></span>
    </div>
    <div class="name">
      RAM Available / Total
      <small>(+ overhead and reserved)</small>
    </div>
  </div>

  <div class="counter span3">
    <div class="value">
      <span class="server-utilization-percent"></span>
    </div>
    <div class="name">Utilization %</div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="alarms-container">
      <div id="dashboard-alarms" class="alarms"></div>
    </div>
  </div>
</div>
