<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="counter span6">
        <div class="value vm-count"></div>
        <div class="name">Virtual Machines</div>
      </div>
    </div>

    <div class="row users">
      <div class="counter span6">
        <div class="value user-count">-</div>
        <div class="name">Users</div>
      </div>
    </div>

    <div class="row servers">
      <div class="counter span3">
        <div class="value server-count">-</div>
        <div class="name">Total Servers</div>
      </div>

      <div class="counter span3">
        <div class="value server-reserved">-</div>
        <div class="name">Reserved Servers</div>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="alarms-container">
      <div id="dashboard-alarms" class="alarms"></div>
    </div>
  </div>
</div>
