<div class="page-header">
  <h2>Jobs</h2>
</div>

<div class="jobs-list">
  <table class="table jobs-table">
    <thead>
      <th class="execution"></th>
      <th class="name">Name / UUID</th>
      <th class="when">When</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
