<div class="row">
  <div class="span12">

    <form class="unstyled">
      <i class="icon-search"></i>

      <div class="input-prepend">
        <label for="input-execution">Execution</label>
      </div>
      <div class="input-prepend">
        <select id="input-execution" name="execution" class="span2">
          <option value="">any</option>
          <option value="succeeded">succeeded</option>
          <option value="failed">failed</option>
          <option value="running">running</option>
          <option value="queued">queued</option>
          <option value="canceled">canceled</option>
        </select>
      </div>
      <!--
      <div class="input-append">
        <label for="input-name">Name</label>
      </div>
      <div class="input-append">
        <input id="input-name" name="name" type="text" class="input">
      </div>
    -->
    </form>
  </div>
</div>
