<div class="page-header">
  <h2>Jobs</h2>
</div>

<div class="jobs-container">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>UUID</th>
      <th>Execution</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>