<td class="execution {{execution}}">
  <span>{{execution}}</span>
</td>
<td>
  {{name}}
  <div class="uuid">{{uuid}}</div>
</td>
<td>
  <button class="btn btn-mini details"><i class="icon-search"></i> View Details</button>
</td>
