<div class="row">
  <div class="span12">
    <h5>Displaying Jobs with:</h5>
    <form class="unstyled">
      <div>
        <div class="input-prepend">
          <label for="input-execution">Execution</label>
        </div>

        <div class="input-prepend">
          <select name="execution" class="span2">
            <option value="">any</option>
            <option value="succeeded">succeeded</option>
            <option value="failed">failed</option>
            <option value="running">running</option>
            <option value="queued">queued</option>
            <option value="canceled">canceled</option>
          </select>
        </div>
      </div>
      <div>

        <div class="input-prepend">
          <label for="input-name">VM UUID</label>
        </div>
        <div class="input-prepend">
          <input type="text" class="input span3" id="input-vm_uuid" name="vm_uuid">
        </div>
      </div>

      <div>
        <div class="input-append">
          <label for="input-name">Job Name</label>
        </div>
        <div class="input-append">
          <input id="input-name" name="name" type="text" class="input">
        </div>
      </div>
    </form>
  </div>
</div>
