<div class="page-header">
  <h2>Jobs</h2>
</div>

<div class="jobs-container">
  <table class="table table-striped jobs-table">
    <thead>
      <th class="execution"></th>
      <th class="name">Name</th>
      <th class="uuid">UUID</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
