<div class="probe-http-config">
  <form class="form-horizontal">
    <div class="modal-header"><h2>Create HTTP Probe</h2></div>
    <div class="modal-body">

      <fieldset>
        <div class="control-group name">
          <label class="control-label">Probe Name</label>
          <div class="controls">
            <input type="text" name="name">
          </div>
        </div>

        <div class="control-group url">
          <label class="control-label">URL</label>
          <div class="controls">
            <div class="input-append">
              <select class="protocol" name="protocol">
                <option value="http">http://</option>
                <option value="https">https://</option>
              </select>
              <input type="text" name="url" class="input-xlarge">
            </div>
          </div>
        </div>

      </fieldset>

      <hr>

      <fieldset>
        <div class="control-group">
          <label class="control-label"></label>
          <a data-toggle="collapse" data-target=".advanced-options">Advanced Options</a>
        </div>

        <div class="collapse advanced-options">
          <div class="control-group username">
            <label class="control-label">Username</label>
            <div class="controls">
              <input name="username" type="text" class="input large">
            </div>
          </div>

          <div class="control-group password">
            <label class="control-label">Password</label>
            <div class="controls">
              <input name="password" type="text" class="input large">
            </div>
          </div>

          <div class="control-group interval">
            <label class="control-label">Check Interval</label>
            <div class="controls">
              <div class="input-append">
                <input name="interval" type="text" class="input span1" placeholder="90">
                <span class="add-on">seconds</span>
              </div>
            </div>
          </div>

          <div class="control-group max-response-time">
            <label class="control-label">Maximum Response Time</label>
            <div class="controls">
              <div class="input-append">
                <input name="max-response-time" type="text" class="input span1">
                <span class="add-on">ms</span>
              </div>
            </div>
          </div>

        </div>

      </fieldset>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <div class="actions">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary">Create Probe</button>
      </div>
    </div>
  </form>
</div>