<div class="network-pool-header">
  <span class="name">{{name}}</span>
  <span class="network-count">{{networks.length}} networks</span>
  {{#role "operators"}}
  <a class="delete"><i class="icon-trash"></i> </a>
  <a class="edit"><i class="icon-edit"></i> Edit</a>
  {{/role}}
  <span class="uuid">{{uuid}}</span>
</div>
<div class="networks-list-container"></div>
