<div class="page-header">
  <h1>Networking</h1>
</div>

<section>
  <h3>Networks
    <div class="actions pull-right">
      <button type="button" class="btn btn-info" name="create-network"><i class="icon-plus-sign icon-white"></i> Create Network</button>
    </div>
  </h3>
  <div class="networks-list"></div>
</section>

<section>
  <h3>Network Pools
    <div class="actions pull-right">
      <button type="button" class="btn btn-info" name="create-network-pool"><i class="icon-plus-sign icon-white"></i> Create Network Pool</button>
    </div>
  </h3>
  <div class="network-pools-list"></div>
</section>
