<section>
  <h4>Networks
    {{#role "operators"}}
    <div class="actions pull-right">
      <button type="button" class="btn btn-link" name="create-network"><i class="icon-plus-sign icon-white"></i> Create Network</button>
    </div>
    {{/role}}
  </h4>
  <div class="networks-list"></div>
</section>

<section>
  <h4>Network Pools
    {{#role "operators"}}
    <div class="actions pull-right">
      <button type="button" class="btn btn-link" name="create-network-pool"><i class="icon-plus-sign icon-white"></i> Create Network Pool</button>
    </div>
    {{/role}}
  </h4>
  <div class="network-pools-list"></div>
</section>
