<div class="network-pool-header">
  <span class="name">{{name}}</span>
  <span class="network-count">{{networks.length}} networks</span>
  <a class="delete"><i class="icon-trash"></i> </a>
  <span class="uuid">{{uuid}}</span>
</div>
<div class="networks-list-container"></div>
