<h3>Network Interfaces</h3>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20px"></th>
      <th>Network</th>
      <th>IP</th>
      <th>MAC Address</th>
      <th>Netmask</th>
      <th>Tag</th>
    </tr>
  </thead>

  <tbody></tbody>

  {{#role "operators"}}
  <tfoot>
    <td colspan="6">
      <button class="btn btn-danger remove-nics"><i class="icon-white icon-remove-sign"></i> Delete Selected NIC</button>
      <button class="btn btn-info add-nic"><i class="icon-plus-sign"></i> Add New NIC</button>
    </td>
  </tfoot>
  {{/role}}
</table>
