<div class="meta">
  <div class="author"></div>
  <div class="actions">
    {{#role "operators"}}
    <a><i class="icon-trash"></i></a>
    {{/role}}
  </div>
  <div class="date"></div>
</div>
<div class="note"></div>
