<h3>Operator Notes</h3>
<ul class="unstyled"></ul>

{{#role "operators"}}
<textarea placeholder="Write something..."></textarea>
<button class="add-note btn btn-info btn-block">Add Note</button>
{{/role}}
