<div class="page" id="page-provision">
  <div class="page-header">
    <h1>Create Instance</h1>
  </div>

  <form class="form-horizontal span12">
    <div class="alert alert-block alert-error">
      <strong>Error creating instance:</strong> <span class="message"></span>
    </div>

      <div class="control-group">
        <label class="control-label" for="input-owner">Owner</label>
        <div class="controls">
          <input id="input-owner" type="text" placeholder="Search by uuid, login or email" class="input-xlarge" name="owner">
          <span class="help-inline">Required</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="input-alias">Alias</label>
        <div class="controls">
          <input id="input-alias" name="alias"
          placeholder="name as it appears to the customer"
          type="text" class="input-xlarge">
          <span class="help-inline">Optional</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Package</label>
        <div class="controls">
          <select name="package"></select>
        </div>

        <div class="package-preview-container"></div>
      </div>

      <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
          <input id="input-image" type="text" placeholder="enter UUID or search image by name" class="input-xlarge" name="image">
          <span class="help-inline">Required</span>
          <span class="help-block">Image to provision machine with</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Server</label>
        <div class="controls">
          <input id="input-server" type="text" placeholder="enter UUID or search by hostname" class="input-xlarge" name="server">
          <span class="help-inline">Optional</span>
          <span class="help-block">Server to provision machine to</span>
        </div>
      </div>

      <div class="control-group control-group-networks">
        <label class="control-label">Networks</label>
        <div class="network-checkboxes controls">
          <label class="checkbox"><input type="checkbox" name="networks[]" /><span class="name">My Network<span></label>
          <span class="help-block">Must select at least one network</span>
        </div>
      </div>

      <div class="control-group control-group-brand">
        <label class="control-label">Brand</label>
        <div class="controls">
          <select name="brand">
            <option value="joyent">joyent</option>
            <option value="joyent-minimal">joyent-minimal</option>
            <option value="kvm">kvm</option>
          </select>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create Instance</button>
        <button type="button" class="btn back">Back to Instances</button>
      </div>

    </div>

</form>
</div>
