<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Change VM Package</h2>
        </div>
        <div class="modal-body">
            <p>Resize this Virtual Machines to package: </p>
            <select name="package"></select>
            <div class="package-preview-container"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Resize to selected package</button>
        </div>
    </div>
</div>
