<div class="row">
  <div class="span12">
    <form class="unstyled filter-options">
      <div class="input-append">
        <label>UUID</label>
        <input type="text" name="uuid" placeholder="UUID">
      </div>

      <div class="input-append">
        <label>Hostname</label>
        <input type="text" name="hostname" placeholder="Hostname">
      </div>

      <div class="input-append">
        <label>Setup State</label>
        <select name="setup">
          <option value="">any</option>
          <option value="true">setup</option>
          <option value="false">not setup</option>
        </select>
      </div>
    </form>
  </div>
</div>
