<form class="unstyled">
  <div class="control-group">
    <div class="control-label">
      <label>Default Platform</label>
    </div>
    <div class="controls">
      <input class="input" type="text" value="{{platform}}" />
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><label>Kernel Arguments</label></div>
    <div class="controls">
      <textarea>{{kernel_args}}</textarea>
    </div>
  </div>
  <button type="button" class="btn btn-primary save">Save</button>
  <button type="button" class="btn btn-link cancel">Cancel</button>
</form>
