<div class="page-header">
  <h1>Applications &amp; Services
  <div class="btn-group actions">
    <button class="btn btn-info create-application">Create new Application</button>
  </div>
  </h1>
</div>



<p>
  Services and Applications allow operators to configure, deploy and upgrade software for core SDC7 and manta services.
</p>

<div class="application">
  <div class="info">
  <h4>SmartDataCenter</h4>
    5 Services<br>
    9 Instances
  </div>

  <div class="services">
    <div class="service">
      <div class="name">adminui</div>
      <Div class="instances">
        <div class="instance">
          <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
          <div class="ram">2 GB</div>
          <div class="status">running</div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="name">vmapi</div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
    </div>
    <div class="service">
      <div class="name">cnapi</div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
    </div>
    <div class="service">
      <div class="name">moray</div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
      <div class="instance">
        <div class="uuid"><a>9bf558ab-51ae-42dd-bf20-0caf6b0823fb</a></div>
        <div class="ram">2 GB</div>
        <div class="status">running</div>
      </div>
    </div>
    <div class="service">
      <div class="name">manatee</div>
      <div class="status">
        <div class="vm-state-container">
          <div class="vm-state running">
            running
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
