<div class="modal-header">
    <h1>Manage Server Nics</h1>
</div>
<div class="modal-body">
    <p>Please specify the Nic Tags each of the nics provide below. Each nic tag should be separated by a space</p>
    <form class="form form-horizontal"></form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary save">Save Changes</button>
</div>
