<div class="page-header">
  <h1>Servers
    <div class="actions">
      {{!
      <button class="toggle-boot-options btn-link">Manage Default Boot Options</button>
      }}
    </div>
  </h1>
</div>

<div class="default-boot-options-region"></div>
<div class="servers-filter-region"></div>

<div class="row">
  <div class="span12 servers-list">
    <div class="servers-list-region"></div>
    <div class="record-summary">
      <span class="record-count"></span> Servers
    </div>
  </div>
</div>

