<div class="page-header">
  <h1>AdminUI Preferences</h1>
</div>

<p class="widget-content">These preferences apply to all users of adminui on this datacenter.</p>

<div class="row">
  <div class="span3">
    <h3>Provisioning Options</h3>
    <p>
      Settings configured here are pre-populated onto the provision page for convenience.
    </p>
  </div>
  <div class="span9">
    <div class="control-group">
      <label class="control-label"><h3>Preset NIC Selection</h3></label>
      <div class="controls">
        <div class="nic-selection-container"></div>
      </div>
    </div>

    <button class="btn save btn-primary">Save Changes</button>
  </div>
</div>
