
<div class="branding">
	<span class="joyent">Joyent</span>
	<span class="sdc">SmartDataCenter</span> 
	<span class="product">Operations Portal</span>
	<span class="version">7.0</span>
</div>

<div class="alert alert-error">
	<span class="msg"></span>
</div>

<form class="form">
	<div class="control-group">
		<label class="control-label">Username</label>
		<input class="input" type="text" name="username">
	</div>

	<div class="control-group">
		<label class="control-label">Password</label>
		<input class="input" type="password" name="password">
	</div>

	<div class="controls">
		<button type="submit" class="btn btn-large btn-info">Sign In to SmartDataCenter</button>
	</div>
</form>
