<h1 class="branding">
  <span class="sdc">SDC</span>
  <span class="product">ADMINUI</span>
  <span class="datacenter"></span>
</h1>

<div class="alert alert-danger">
  <span class="msg"></span>
</div>

<form class="form">
  <div class="form-group">
    <label class="control-label">Login</label>
    <input class="form-control input-lg" type="text" value="{{login}}" placeholder="Enter operator login name" autocomplete="off" name="username">
  </div>

  <div class="form-group">
    <label class="control-label">Password</label>
    <input class="form-control input-lg" type="password" placeholder="Enter operator password" name="password" value="">
  </div>

  <div class="controls">
    <button type="submit" class="btn input-lg btn-block btn-info">Sign In to SmartDataCenter</button>
  </div>
</form>
