<h3>Snapshots <button class="btn pull-right"><i class="icon-camera"></i> Create Snapshot</button> </h3>
<table class="table">
  {{#if hasSnapshots}}
  <thead>
    <th>Name</th>
    <th>Snapshot Date</th>
    <th></th>
  </thead>
  {{/if}}

  <tbody>
    {{#unless hasSnapshots}}
    <tr><td class="empty">This instance does not have any snapshots.</td></tr>
    {{/unless}}
  </tbody>
</table>
