<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" type="button" class="close" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Add an SSH Key</h2>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="alert alert-danger">
                    <strong>Problem adding the ssh key!</strong>
                    <div class="alert-body"></div>
                </div>
                <input class="form-control" name="name" placeholder="SSH Key Name">
                <textarea name="key" class="form-control" placeholder="SSH Public Key"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary save">Save</button>
        </div>
    </div>
</div>
