<div class="details">
  <div class="name">{{name}}</div>
  <div class="fingerprint">
    Fingerprint:
    {{fingerprint}}
  </div>
</div>
<div class="actions">
  <a class="remove"><i class="icon-trash"></i></a>
</div>
