<div class="modal-header">
  <h2>Add an SSH Key</h2>
</div>
<div class="modal-body">
  <form class="form">
    <div class="alert alert-error">
      <h4 class="alert-heading">Problem adding the ssh key!</h4>
      <div class="alert-body"></div>
    </div>
    <textarea name="key" style="width: 98%; height: 100px;" placeholder="SSH Public Key"></textarea>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
  <button class="btn btn-primary save">Save</button>
</div>
