<div class="zero-state">
  There are no tags for this image.
</div>
<table class="table editable">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>
  <tbody></tbody>
  <tfoot>
  </tfoot>
</table>
<button class="btn add-tag"><i class="icon icon-plus-sign"></i> Add a tag</button>
