<div class="modal-header">
  <h2>Traits</h2>
</div>
<div class="modal-body">
  <p>Traits are properties utilized by the provisioning algoirthms to determine placement of provisions.</p>
  <textarea></textarea>
</div>
<div class="modal-footer">
  <div class="error"></div>
  <button class="btn" data-dismiss="modal">Close</button>
  <button class="btn btn-primary">Save &amp; Close</button>
</div>