<h3>Traits</h3>
<table class="traits">
<thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
</thead>
<tbody>
  {{#each traits}}
  <tr>
    <td style="width: 100px;">{{this.name}}</td>
    <td>{{this.value}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
