<div class="tt-suggestion typeahead-user">
    <div class="name">
        <span class="login">{{login}}</span>
        &mdash;
        <span class="cn">{{name}}</span>
    </div>
    <div class="email">{{email}}</div>
    <div class="uuid">{{uuid}}</div>
</div>