<div class="page-header">
  <h1>
    <span class="cn"></span>
    <small class="uuid"></small>
  </h1>
</div>


<section>
  <div class="row">
    <div class="span6">
      <h3>User Details
        {{#role "operators"}}
        <div class="actions">
          <button class="edit-user btn btn-link"> <i class="icon-pencil"></i> Modify User</button>
        </div>
        {{/role}}
      </h3>
      <div class="user-details">
        <table class="table">
          <tbody>
          <tr>
            <th>Login</th>
            <td><span class="login"></span></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><span class="email"></span></td>
          </tr>
          <tr>
            <th>Company</th>
            <td><span class="company"></span></td>
          </tr>
          <tr>
            <th>Phone</th>
            <td><span class="phone"></span></td>
          </tr>
          <tr>
            <th>Groups</th>
            <td><span class="groups"></span></td>
          </tr>
          <tr>
            <th>Provisioning</th>
            <td><span class="provisioning"></span></td>
          </tr>
          <tr>
            <th>Registered Developer</th>
            <td><span class="registered-developer"></span></td>
          </tr>
          <tr>
            <th>Two Factor Auth</th>
            <td><span class="portal-2fa"></span>
              <a class="toggle-2fa"></a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>

    <div class="span6">
      <h3>SSH Keys
        <div class="actions">
          {{#role "operators"}}
          <button class="btn btn-link add-key"><i class="icon-plus-sign"></i> Add Key</button>
          {{/role}}
        </div>
      </h3>

      <div class="ssh-keys">
        <div class="items"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <div class="limits-region"></div>
    </div>
  </div>
</section>

<section class="networks">
  <div class="row">
    <div class="span12">
      <h3>Networks &amp; Network Pools</h3>
      <div class="networks-region"></div>
      <div class="network-pools-region"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <h3>Virtual Machines</h3>
      <div class="container vms-filter">
        <form class="unstyled more">
          <div class="span2">
            <label>State</label>
            <select name="state" class="span2">
              <option>running</option>
              <option>stopped</option>
              <option>destroyed</option>
            </select>
          </div>

          <div class="span3">
            <label>Alias</label>
            <input type="text" name="alias" placeholder="alias">
          </div>

          <div class="span3">
            <label>Server</label>
            <input type="text" name="server_uuid" placeholder="Server UUID">
          </div>

          <div class="span2">
            <button class="btn btn-info" style="margin-top: 25px;"><i class="icon-filter icon-white"></i> Apply Filters</button>
          </div>
        </form>
      </div>
      <div class="vms-region"></div>
    </div>
  </div>
</section>
