<div class="datacenter">{{datacenter}}
  <div class="actions">
    <a class="edit"><i class="icon-pencil"></i> Edit</a>
    <a class="del"><i class="icon-trash"></i></a>
  </div>
</div>
{{#each limits}}
<div class="limit">
  <div class="image">{{this.image}}</div>
  <div class="value">{{this.value}}</div>
</div>
{{/each}}
