<form>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><span class="action"></span> User</h3>
  </div>

  <div class="modal-body">
    <div class="alert alert-block alert-error hide"></div>
    <div class="form-horizontal">
      <fieldset>

        <div class="control-group">
          <label class="control-label">Login</label>
          <div class="controls">
            <input type="text" name="login" class="span3">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Password</label>
          <div class="controls">
            <input type="password" name="password" class="span3">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Email Address</label>
          <div class="controls">
            <input type="text" name="email" placeholder="user@example.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <input type="text" name="first_name" placeholder="given name" class="span2">
            <input type="text" name="last_name" placeholder="last name" class="span2 add-on">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Company</label>
          <div class="controls">
            <input type="text" name="company" placeholder="Joyent">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Phone Number</label>
          <div class="controls">
            <input type="text" name="phone" placeholder="510-123-4567">
          </div>
        </div>
        <input type="hidden" name="cn">
      </fieldset>
    </div>
  </div> <!-- .modal-body -->
  <div class="modal-footer">
    <button type='submit' class="save btn btn-primary">Save User</button>
    <button data-dismiss="modal" class="btn">Close</button>
  </div>
</form>
