<form class="form widget-content">
  <div class="row">
    <div class="span3">
      <label>Datacenter</label>
      <input type="text" class="input" name="datacenter" />
    </div>

    <div class="span8">
      <div class="limits-inputs">
        <div class="limits-input row">
          <div class="span3">
            <label>Image Name</label>
            <input type="text" class="input" name="image" />
          </div>
          <div class="span3">
            <label>Limit</label>
            <input class="input" type="number" name="value" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset3 span5">
      <button class="btn btn-primary">Save Limits</button>
      <button type="button" class="btn cancel">Cancel</button>
    </div>
  </div>
</form>

