<div class="page-header">
  <h1>
    <span class="cn"></span>
    <small class="uuid"></small>

    <div class="actions"></div>
  </h1>
</div>


<section>
  <div class="row">
    <div class="span6">
      <h3>User Details</h3>
      <div class="user-details">
        <table class="table">
          <tbody>
          <tr>
            <th>Login</th>
            <td><span class="login"></span></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><span class="email"></span></td>
          </tr>
          <tr>
            <th>Company</th>
            <td><span class="company"></span></td>
          </tr>
          <tr>
            <th>Phone</th>
            <td><span class="phone"></span></td>
          </tr>
          <tr>
            <th>Groups</th>
            <td><span class="groups"></span></td>
          </tr>
          <tr>
            <th>Provisioning</th>
            <td><span class="provisioning"></span></td>
          </tr>
          <tr>
            <th>Registered Developer</th>
            <td><span class="registered-developer"></span></td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="2">
            <button class="edit-user btn"> <i class="icon-pencil"></i> Edit User Details</button>
          </td>
        </tfoot>
        </table>
      </div>
    </div>

    <div class="span6">
      <h3>SSH Keys</h3>

      <div class="ssh-keys">
        <div class="items"></div>
        <button class="btn add-key"><i class="icon-plus-sign"></i> Add Key</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <h3>Datacenter Limits</h3>
      <div class="limits-region"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <h3>Virtual Machines</h3>
      <div class="vms-region"></div>
    </div>
  </div>
</section>
