<span class="login"><i class="icon-user"></i> {{login}}</span>
<div><strong>Name</strong> <span class="cn">{{cn}}</span></div>
<div><strong>Email</strong> <span class="email">{{email}}</span></div>

<a target="_tab" href="/users/{{uuid}}"><i class="icon-external-link"></i> See User Details</a>
