<table class="table">
  <thead>
    <tr>
      <th class="login">Login</th>
      <th class="name">Name</th>
      <th class="email">Email</th>
    </tr>
  </thead>
  <tbody></tbody>
  <caption align="bottom">
    Showing <span class="current-count"></span> of <span class="record-count"></span>
    Users
  </caption>
</table>
