<div class="modal-header">
  <h3>Select Networks to attach new NIC to</h3>
</div>

<div class="modal-body">
  <div class="form-horizontal">
    <p>Please Note that any changes to networks requires a reboot for changes to take effect</p>
    <div class="control-group">
      <label class="control-label">Network</label>
      <div class="controls">
        <select name="network"></select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" class="primary" name="primary"> Make this the primary NIC
        </label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-primary" type="submit">Attach Network Interface</button>
</div>
