<div class="page-header">
  <div class="resource-status"><span class="vm-state"></span></div>
  <h1>
    <span class="vm-alias"></span>
    <small class="uuid vm-uuid selectable"></small>
  </h1>
</div>

{{#role "operators"}}
<div class="actions">
  <div class="notes-component-container"></div>
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>

    <ul class="dropdown-menu dropdown-menu-right">
      <li><a class="start">Start</a></li>
      <li><a class="stop">Stop</a></li>
      <li><a class="reboot">Reboot</a></li>
      <li class="divider"></li>
      <li><a class="reprovision" href="#">Reprovision</a></li>
      <li><a class="resize" href="#">Resize</a></li>
      <li class="divider"></li>
      <li><a class="delete" href="#">Delete</a></li>
    </ul>
  </div>
</div> {{! page-header}}
{{/role}}






<section class="vms-details">
  <div class="row">
    <div class="col-md-9">
      <table class="overview">
        <tr>
          <th>Name</th>
          <td>
            <span class="alias">
                <form class="form-inline"></form>
                <span class="value vm-alias"></span>
            </span>

            {{#role "operators"}}
            <a class="mutate rename"><i class="icon-edit"></i> rename</a>
            {{/role}}
            <span class="vm-uuid selectable"></span>
          </td>
        </tr>

        <tr>
          <th>Memory / Swap</th>
          <td>
            <span>
                <span class="vm-memory"></span> MB /
                <span class="vm-swap"></span> MB
            </span>
          </td>
        </tr>

        <tr>
          <th>IP Addresses</th>
          <td>
            <span class="vm-ips"></span>
          </td>
        </tr>
        <tr>
          <th>Image</th>
          <td>
            <a class="image-name-version"></a>
            <span class="image-uuid selectable"></span>
          </td>
        </tr>
        <tr>
          <th>Server</th>
          <td>
            <a class="server-hostname"></a>
            <span class="server-uuid selectable"></span>
          </td>
        </tr>
        <tr>
          <th>Package</th>
          <td>
            <a class="package">
              <span class="package-name"></span>
              <span class="package-version"></span>
            </a>
            <span class="billing-id selectable"></span>
          </td>
        </tr>
        <tr>
          <th>Created</th>
          <td>
            <span class="created"></span>
          </td>
        </tr>
        <tr>
          <th>Last Modified</th>
          <td>
            <span class="last-modified"></span>
          </td>
        </tr>
      </table>
    </div>{{! col-md-12}}
    <div class="col-md-3">
        <div class="user-tile-icon">
            <i class="fa fa-user"></i>
        </div>
        <a class="change-owner">
            <i class="fa fa-pencil"></i> change
        </a>
        <div class="user-tile-container"></div>
    </div>
</div>{{! row}}
</section>{{! vms-details}}



<section>
  <div class="row">
    <div class="col-md-12">
      <div class="nics-region"></div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="col-md-12">
      <div class="snapshots"></div>
    </div>
  </div>
</section>

<section class="customer-metadata">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Customer Metadata
        {{#role "operators"}}
        <div class="actions">
          <button class="btn-link edit-metadata"><i class="fa fa-pencil"></i> Edit Metadata</button>
        </div>
        {{/role}}
      </h3>
      <div class="customer-metadata-region"></div>
    </div>
  </div>
  <div class="metadata-form-region"></div>
</section>


<section>
  <div class="row">
    <div class="col-md-6">
      <h3>Internal Metadata</h3>
      <div class="internal-metadata-region"></div>
    </div>
    <div class="col-md-6">
      <h3>Tags</h3>
      <div class="tags-container"></div>
    </div>
  </div>
</section>

<section class="fwrules">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Firewall
        {{#role "operators"}}
        <div class="actions">
          <div class="firewall-toggle-button"></div>
          <a class="btn btn-info btn-sm show-fwrules-form"><i class="icon-plus-sign"></i> Create Firewall Rule</a>
        </div>
        {{/role}}
      </h3>
      <div class="fwrules-form-region"></div>
      <div class="fwrules-list-region"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-12">
      <h3>Jobs</h3>
      <div class="jobs-list-region"></div>
    </div>
  </div>
</section>
