<div class="page-header">
  <div class="resource-status"><span class="vm-state"></span></div>
  <h1>
    <span class="vm-alias"></span>
    <small class="uuid vm-uuid"></small>
  </h1>
</div>

{{#role "operators"}}
<div class="actions btn-group">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
    Actions <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
    <li><a class="start">Start</a></li>
    <li><a class="stop">Stop</a></li>
    <li><a class="reboot">Reboot</a></li>
    <li class="divider"></li>
    <li><a class="resize" href="#">Resize</a></li>
    <li class="divider"></li>
    <li><a class="delete" href="#">Delete</a></li>
    <li class="divider"></li>
    <li><a href="#" class="create-probe">Create Probe</a></li>
  </ul>
</div> {{! page-header}}
{{/role}}






<section class="vms-details">
  <div class="row">
    <div class="span12">
      <h3>Overview</h3>
      <table class="overview">
        <tr>
          <th>Name</th>
          <td>
            <span class="alias"><span class="value vm-alias"></span></span>

            {{#role "operators"}}
            <a class="mutate rename"><i class="icon-edit"></i> rename</a>
            {{/role}}
            <span class="vm-uuid"></span>
          </td>
        </tr>
        <tr>
          <th>Owner</th>
          <td>
            <div>
              <a class="owner-link" href="/users/{{owner_uuid}}">
                <span class="owner-name"></span> <i class="icon-user"></i>
              </a>
            </div>
            {{#role "operators"}}
            <a class="mutate change-owner"><i class="icon-edit"></i> change</a>
            {{/role}}
            <span class="owner-uuid">{{owner_uuid}}</span>
          </td>
        </tr>

        <tr>
          <th>Memory</th>
          <td>
            <span><span class="vm-memory"></span> MB</span>
          </td>
        </tr>

        <tr>
          <th>Swap</th>
          <td><span><span class="vm-swap"></span> MB</span></td>
        </tr>

        <tr>
          <th>IP Addresses</th>
          <td>
            <span class="vm-ips"></span>
          </td>
        </tr>
        <tr>
          <th>Image</th>
          <td>
            <a class="image-name-version"></a>
            <span class="image-uuid"></span>
          </td>
        </tr>
        <tr>
          <th>Server</th>
          <td>
            <a class="server-hostname"></a>
            <span class="server-uuid"></span>
          </td>
        </tr>
        <tr>
          <th>Package</th>
          <td>
            <a class="package">
              <span class="package-name"></span>
              <span class="package-version"></span>
            </a>
            <span class="billing-id"></span>
          </td>
        </tr>
        <tr>
          <th>Created</th>
          <td>
            <span class="created"></span>
          </td>
        </tr>
      </table>
    </div>{{! span12}}
  </div>{{! row}}
</section>{{! vms-details}}



<section>
  <div class="row">
    <div class="span12">
      <div class="nics-region"></div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="span12">
      <div class="snapshots">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span6">
      <h3>Customer Metadata</h3>
      <div class="customer-metadata"></div>
    </div>
    <div class="span6">
      <h3>Internal Metadata</h3>
      <div class="internal-metadata"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span6 notes"></div>
    <div class="span6">
      <h3>Tags</h3>
      <div class="tags-container"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <h2>Firewall Rules</h2>
      <div class="fwrules-region"></div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="span12">
      <h2>Jobs</h2>
      <div class="jobs-list-region"></div>
    </div>
  </div>
</section>
