<table class="table">
  <thead>
    <tr>
      <th class="status">Status</th>
      <th class="alias">Alias</th>
      <th class="memory">Memory</th>
      <th class="package">Package</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
