<div class="row">
  <div class="span12">

    <form class="unstyled quick">
      <i class="icon-search"></i>
      <div class="input-prepend">
        <select name="property" class="span2">
          <option value="uuid">UUID</option>
          <option value="ip">IP Address</option>
        </select>
        <input class="span4" name="value" type="text">
      </div>

      <div class="input-append">
        <button type="submit" class="btn btn-info"><i class="icon-search icon-white"></i></button>
      </div>


      <div class="input-append" style="margin-left: 10px;">
        <label><i class="icon-sort"></i></label>
      </div>
      <div class="input-append">
        <select name="sort" class="span2 sort">
         <option value="create_timestamp.desc">Last Provisioned</option>
         <option value="alias">Alias</option>
       </select>
     </div>
     <button type="button" class="toggle-filter btn-link" style="margin-left: 30px" data-toggle="button"><i class="icon-filter"></i> More Options</button>
    </form>
  </div>
</div>

<div class="row more">
  <hr>
  <form class="unstyled more">
    <div class="span3">
      <label>Owner UUID</label>
      <input type="text" name="owner_uuid" placeholder="Search by login or uuid">
    </div>

    <div class="span3">
      <label>Image UUID</label>
      <input type="text" name="image_uuid" placeholder="Search by image name">
    </div>

    <div class="span2">
      <label>State</label>
      <select name="state" class="span2">
        <option value="">any</option>
        <option value="running">running</option>
        <option value="stopped">stopped</option>
        <option value="active">active</option>
        <option value="destroyed">destroyed</option>
      </select>
    </div>

    <div class="span3">
      <label>Alias</label>
      <input type="text" name="alias" placeholder="alias">
    </div>

    <div class="span3">
      <label>Server</label>
      <input type="text" name="server_uuid" placeholder="Server UUID">
    </div>
    <div class="span12">
      <button class="btn btn-info"><i class="icon-filter icon-white"></i> Apply Filters</button>
    </div>
  </form>
</div>
