<table class="table">
  <tbody>
  </tbody>
  <caption align="bottom">
    <a class="more"><i class="fa fa-arrow-circle-down"></i> Load More Virtual Machines</a>
    <div class="counters">
      Showing <span class="current-count"></span> of <span class="record-count"></span> Virtual Machines
    </div>
  </caption>
</table>
