<table class="table">
  <thead>
    <tr>
      <th class="status">Status</th>
      <th class="alias">Alias</th>
      <th class="memory">Memory</th>
      <th class="package">Package</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <caption align="bottom">
    Showing <span class="current-count"></span> of <span class="record-count"></span> Virtual Machines
  </caption>
</table>
