<div class="page-header">
  <h1>Virtual Machines
    <div class="actions">
      <button class="provision-button btn btn-primary"> <i class="icon-plus icon-white"></i> Provision a New VM </button>
    </div>
  </h1>
</div>

<section class="widget-content vms-filter">
</section>

<div class="row">
  <div class="vms-list span12">
    <table class="table">
      <thead>
        <tr>
          <th class="status">Status</th>
          <th class="alias">Alias</th>
          <th class="memory">Memory</th>
          <th class="package">Package</th>
        </tr>
      </thead>
      <tbody></tbody>
      <caption align="bottom">
        Showing <span class="current-count"></span> of <span class="record-count"></span> Virtual Machines
      </caption>
    </table>
  </div>
</div>
