<div id="page-vms">
	<div class="page-header">
		<h1>Virtual Machines
			<div class="actions">
				<button class="provision-button btn btn-primary"> <i class="icon-plus icon-white"></i> Provision a New VM </button>
				<button class="toggle-filter btn" data-toggle="button"><i class="icon-filter"></i> Filter Options</button>
			</div>
		</h1>
	</div>

	<div class="row">
		<div class="vms-list span12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="status">Status</th>
						<th class="alias">Alias</th>
						<th class="memory">Memory</th>
						<th class="package">Package</th>
					</tr>
				</thead>
				<tbody></tbody>
				<caption align="bottom">
					<span class="record-count"></span> Virtual Machines
				</caption>
			</table>
		</div>


		<div class="filter-panel vms-filter span3">
			<h4>Filter Options</h4>
			<div class="alert alert-error"></div>
			<form>
				<label>Data Center</label>
				<select name="dc" disabled></select>

				<label>UUID</label>
				<input type="text" name="uuid" placeholder="UUID">

				<label>State</label>
				<select name="state">
					<option>running</option>
					<option>stopped</option>
					<option>destroyed</option>
				</select>

				<label>Alias</label>
				<input type="text" name="alias" placeholder="alias">

				<label>Server</label>
				<input type="text" name="server_uuid" placeholder="Server UUID">

				<label>RAM</label>
				<input type="text" name="ram" placeholder="RAM">

				<label>Owner</label>
				<input type="text" name="owner_uuid" placeholder="owner UUID">

				<button class="btn btn-large btn-info"><i class="icon-filter icon-white"></i> Apply Filters</button>
			</form>
		</div>
	</div>
</div>