<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Operations Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="chrome"></div>

    <script src="/app.js"></script>
    <script>require('main').bootstrap();</script>

    <!-- {{{ template chrome -->
    <script type="text/text/template" id="template-chrome">
      <div class="navbar">
        <div class="navbar-inner">
          <div id="topbar" class="container">
            <!-- #template-topnav -->
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">

          <div id="sidebar" class="span2">
          </div>

          <div id="content" class="span10">
          </div>
        </div>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template topbar -->
    <script type="text/text/template" id="template-topbar">
      <a class="btn btn-navbar" data-toggle="collapse"
        data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div id="logo" class="brand">Operations Portal &nbsp;<strong>7</strong></div>


      <!-- Collapsed at 940px or less -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->

        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>

        <ul class="nav pull-right">
          <li><a href="#"><i class="icon-cog icon-white"></i></a></li>
          <li><a href="#"><i class="icon-user icon-white"></i> Kevin</a></li>
          <li><a data-trigger='signout'><i class="icon-off icon-white"></i> Sign Out</a></li>
        </ul>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template sidebar -->
    <script type="text/text/template" id="template-sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li data-view="dashboard"><a href="#"><i class="icon-home"></i> Dashboard</a></li>

        <li class="nav-header">Compute</li>

        <li data-view="vms"><a href="#"><i class="icon-book"></i> Machines</a></li>
        <li data-view="servers"><a href="#"><i class="icon-book"></i> Servers</a></li>
        <li data-view="networks"><a href="#"><i class="icon-list"></i> Networks</a></li>
        <li><a href="#"><i class="icon-picture"></i> Images</a></li>

        <li class="nav-header"></li>

        <li data-view="users"><a href="#"><i class="icon-user"></i> Users &amp; Grouops</a></li>

        <li class="nav-header">Explore</li>
        <li data-view="images"><a href="#"><i class="icon-book"></i>Image Library</a></li>
      </ul>
    </script>
    <!-- }}} -->



    <!-- {{{ template users -->
    <script type="text/template" id="template-users">
      <div class="page-header">
        <h2 class="pull-left">Users &amp; Groups</h2>
        <div class="pull-right">
          <button data-event="new-user" class="btn btn-primary btn-large">
            <i class="icon-plus icon-white"></i>
            New User
          </button>
        </div>
      </div>

      <ul id="users-counters" class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <h5>256,291</h5>
            <p>Accounts in Total</p>
          </div>
        </li>

        <li class="span3">
          <div class="thumbnail">
            <h5>259</h5>
            <p>Created in the Past 24 hours</p>
          </div>
        </li>

        <li class="span3">
          <div class="thumbnail">
            <h5>16,256</h5>
            <p>Created in the Past Month</p>
          </div>
        </li>
      </ul>

      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="well">
              <h4>Top Users by resource consumption</h4>
            </div>
          </div>

          <div class="span3">
            <div class="well">
              <h4>Recently Added Users</h4>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template users-create -->
    <script type="text/template" id="template-users-create">
      <div class="modal fade">
        <form>
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Create User</h3>
          </div>

          <div class="modal-body">
            <div class="alert alert-block alert-error hide"></div>

            <div class="form-horizontal">
            <fieldset>

              <div class="control-group">
                <label class="control-label">Login</label>
                <div class="controls">
                  <input type="text" name="login" class="span3">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                  <input type="password" name="password" class="span3">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Email Address</label>
                <div class="controls">
                  <input type="text" name="email" placeholder="user@example.com">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                  <input type="text" name="first_name" placeholder="first or given name" class="span2">
                  <input type="text" name="last_name" placeholder="last name" class="span2 add-on">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                  <input type="text" name="company_name" placeholder="Joyent">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Phone Number</label>
                <div class="controls">
                  <input type="text" name="phone" placeholder="Joyent">
                </div>
              </div>
            </fieldset>
            </div>
          </div> <!-- .modal-body -->
          <div class="modal-footer">
            <button type='submit' class="create btn btn-primary">Create User</button>
            <button data-dismiss="modal" class="btn">Close</button>
          </div>
        </form>
      </div>
    </script>
    <!-- }}} -->

    <!-- {{{ template servers -->
    <script type="text/template" id="template-servers">
      <div id="servers">
        <div class="page-header">
          <h2>Compute Nodes</h2>
        </div>
        <div id="servers-list">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Status</th>
                <th>Hostname</th>
                <th>Available Memory</th>
                <th>Total Memory</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template servers-list-item -->
    <script type="text/template" id="template-servers-list-item">
      <tr>
        <td class="status"><%- status %></td>
        <td class="name"><%- hostname %></td>
        <td class="mem-avail"><%- memory_available_bytes %></td>
        <td class="mem-total"><%- memory_total_bytes %></td>
      </tr>
    </script>
    <!-- }}} -->

    <!-- {{{ template networks-->
    <script type="text/template" id="template-networks">
      <div id="servers">
        <div class="page-header">
          <h2>Networks</h2>
        </div>
        <div id="networks-list">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Network</th>
                <th>Netmask</th>
                <th>IP Range</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template networks-list-item -->
    <script type="text/template" id="template-networks-list-item">
      <tr>
        <td class="name"><%- name%></td>
        <td class="network"><%- network %></td>
        <td class="netmask"><%- netmask %></td>
        <td class="range"><%- start_ip %> - <%- end_ip %></td>
      </tr>
    </script>
    <!-- }}} -->

    <!-- {{{ template vms -->
    <script id="template-vms" type="text/template">
      <div id="vms">
        <div class="page-header">
          <h2 class="pull-left">Virtual Machines</h2>
          <button 
              class="provision-button pull-right btn btn-primary btn-large">
              <i class="icon-plus icon-white"></i> Provision</button>
        </div>
        <div id="vms-list">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Status</th>
                <th>Alias</th>
                <th>UUID</th>
                <th>Memory</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <!-- }}} -->
    <!-- {{{ template vms-list-item -->
    <script id="template-vms-list-item" type="text/template">
      <tr>
        <td class="status">
          <% if (state == 'running') { %>
            <%- state %>
          <% } %>
        </td>
        <td class="alias"><%= alias %></td>
        <td class="uuid"><%= uuid %></td>
        <td class="memory"><%= ram %> MB</td>
      </tr>
    </script>
    <!-- }}} -->

    <!-- {{{ template provision-vm -->
    <script id="template-provision-vm" type="text/template">
      <div id="servers">
        <div class="page-header">
          <h2>Provision a Machine</h2>
        </div>

        <div id="provision">
          <form class="form-horizontal">
            <fieldset>
              <legend>Legend text</legend>
              <div class="control-group">
                <label class="control-label" for="input01">Text input</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="input01">
                  <p class="help-block">Supporting help text</p>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </script>
    <!-- }}} -->


    <!-- {{{ template images -->
    <script type="text/template" id="template-images">
      <div id="sdc-images">
        <div class="page-header">
          <h2>SDC Image Library</h2>
        </div>
        <div id="sdc-images-list"></div>
      </div>
    </script>
    <!-- }}} -->

    <!-- {{{ template images-list -->
    <script type="text/template" id="template-images-list">
      <h3>{{os}}</h3>
      <ul class="thumbnails"></ul>
    </script>
    <!-- }}} -->
    <!-- {{{ template images-list-item -->
    <script type="text/template" id="template-images-list-item">
      <li class="span5">
      <div class="item">
        <h4 class="name">{{name}} <small class="label">{{version}}</small></h4>
        <p class="description">{{description}}</p>
        <button class="btn btn-small btn-info more-info pull-right">
          <i class="icon-search icon-white"></i> More Info
        </button>
      </div>
      </li>
    </script>
    <!-- }}} -->
    <!-- {{{ template images-detail -->
    <script type="text/template" id="template-images-detail">
      <div class="modal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h2>{{name}} {{version}}</h2>
        </div>
        <div class="modal-body">
          <p>{{description}}</p>
          <table class="table table-condensed">
            <tr>
              <th>UUID</th>
              <td>{{uuid}}</td>
            </tr>
            <tr>
              <th>URN</th>
              <td>{{urn}}</td>
            </tr>
            <tr>
              <th>Platform</th>
              <td><span class="label label-warning">{{platform_type}}</label></td>
            </tr>
          </table>

          <h3>Files</h3>
          <table class="table table-condensed">
            <tbody>
            {{#each files}}
            <tr>
              <td>{{path}}</td>
              <td>{{size_in_mb}} MB &nbsp; <small>{{size}} bytes</small></td>
              <td>
                <a href="{{url}}" class="label pull-right">
                  Download <i class="icon-download icon-white"></i> 
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button class="btn">Close</button>
          <div class="btn-group dropup pull-right">
            <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
              Import <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="pull-left" href="#">Import to US-WEST-1</a></li>
              <li><a class="pull-left" href="#">Import to US-EAST-1</a></li>
              <li><a class="pull-left" href="#">Import to US-SW-1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </script>
    <!-- }}} --->




    <!-- {{{ template signin -->
    <script type="text/template" id="template-signin">
      <div id="signin" class="well">
        <div class="header">
          <h1>Operations Portal</h1>
          <h4>SmartDataCenter 6</h4>
        </div>

        <div class="alert alert-error">
          <span class="msg"></span>
          <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>

        <form>
          <label>Username</label>
          <input class="input-large" type="text" name="username">

          <label>Password</label>
          <input class="input-large" type="password" name="password">

          <div class="controls">
            <button type="submit" class="btn btn-large btn-primary">Sign In</button>
          </div>
        </form>
      </div>
    </script>
    <!-- }}} -->

  </body>
</html>
