<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Operations Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="chrome"></div>
    <script data-main="/js/main" src="/js/require-jquery.js"></script>

    <!-- {{{ template notifier-job -->
    <script type="text/template" id="template-notifier-job">
      <div class="job <%= (execution === 'succeeded') ? 'success' : '' %>">
      <h3 class="name"><%= name %></h3>
      <div class="uuid"><%= uuid %></div>

      <% _.each(chainResults, function(res) { %>
        <div class="task <%= res.error.length ? 'error' : 'success' %> ">
          <div class="name pull-left"><%= res.name %></div>
          <div class="result pull-left"><%= res.result %></div>
        </div>
      <% }); %>

    </div>
    </script>
    <!--}}} -->

    <!-- {{{ template users -->
    <script type="text/template" id="template-users">
      <div class="page-users-and-groups">
        <div class="page-header">
          <h1 class="pull-left">Users &amp; Groups</h1>
          <div class="pull-right">
            <button data-event="new-user" class="btn btn-primary btn-large">
              <i class="icon-plus icon-white"></i>
              New User
            </button>
          </div>
        </div>

        <ul id="users-counters" class="thumbnails">
          <li class="span4">
          <div class="thumbnail">
            <h5>256,291</h5>
            <p>Accounts in Total</p>
          </div>
          </li>

          <li class="span4">
          <div class="thumbnail">
            <h5>259</h5>
            <p>Created in the Past 24 hours</p>
          </div>
          </li>

          <li class="span4">
          <div class="thumbnail">
            <h5>16,256</h5>
            <p>Created in the Past Month</p>
          </div>
          </li>
        </ul>

        <div class="container">
          <div class="row">
            <div class="span7">
              <div class="well">
                <h4>Top Users by resource consumption</h4>
              </div>
            </div>

            <div class="span7">
              <div class="well">
                <h4>Recently Added Users</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- }}} -->

    <!-- {{{ template users-create -->
    <script type="text/template" id="template-users-create">
      <div class="modal fade">
        <form>
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Create User</h3>
          </div>

          <div class="modal-body">
            <div class="alert alert-block alert-error hide"></div>

            <div class="form-horizontal">
            <fieldset>

              <div class="control-group">
                <label class="control-label">Login</label>
                <div class="controls">
                  <input type="text" name="login" class="span3">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                  <input type="password" name="password" class="span3">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Email Address</label>
                <div class="controls">
                  <input type="text" name="email" placeholder="user@example.com">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                  <input type="text" name="first_name" placeholder="first or given name" class="span2">
                  <input type="text" name="last_name" placeholder="last name" class="span2 add-on">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                  <input type="text" name="company_name" placeholder="Joyent">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Phone Number</label>
                <div class="controls">
                  <input type="text" name="phone" placeholder="Joyent">
                </div>
              </div>
            </fieldset>
            </div>
          </div> <!-- .modal-body -->
          <div class="modal-footer">
            <button type='submit' class="create btn btn-primary">Create User</button>
            <button data-dismiss="modal" class="btn">Close</button>
          </div>
        </form>
      </div>
    </script>
    <!-- }}} -->


    <!-- {{{ template servers-list-item -->
    <script type="text/template" id="template-servers-list-item">
      <tr>
        <td class="status">
          <span class="
            <%- (status == 'running') ? 'label label-success' : '' %>
            <%- (status == 'warn') ? 'label label-warn' : '' %>
            ">
            <%- status %>
          </span>
        </td>
        <td class="name"><%- hostname %></td>
        <td class="memory">
          <% if (typeof(memory_total_bytes) !== 'undefined') { %>
          <span class="percent"><%- _.str.sprintf("%0.1f", (memory_total_bytes-memory_available_bytes) / memory_total_bytes * 100) %>%</span>

          <span class="breakdown"><%- _.str.sprintf("%0.1f", memory_available_bytes/1024/1024) %> /
            <%- _.str.sprintf("%0.1f", memory_total_bytes/1024/1024) %> MB</span>
          <% } %>

        </td>
        <td>
          <% if (setup == 'false') { %>
            <button class="setup btn btn-mini">Setup</button>
          <% } %>
        </td>
      </tr>
    </script>
    <!-- }}} -->

    <!-- {{{ template networks-->
    <script type="text/template" id="template-networks">
      <div id="networks">
        <div class="page-header">
          <h1>Networks</h1>
        </div>
        <div id="networks-list">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Network</th>
                <th>Netmask</th>
                <th>IP Range</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <!-- }}} -->

    <!-- {{{ template networks-list-item -->
    <script type="text/template" id="template-networks-list-item">
      <tr>
        <td class="name"><%- name%></td>
        <td class="network"><%- network %></td>
        <td class="netmask"><%- netmask %></td>
        <td class="range"><%- start_ip %> - <%- end_ip %></td>
      </tr>
    </script>
    <!-- }}} -->

    <!-- {{{ template vms -->
    <script id="template-vms" type="text/template">
      <div class="page vms">
        <div class="page-header">
          <h1 class="pull-left">Virtual Machines</h1>
          <button class="provision-button pull-right btn btn-primary btn-large">
            <i class="icon-plus icon-white"></i> Provision
          </button>
        </div>

        <div id="vms-list">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="status">Status</th>
                <th class="alias">Alias</th>
                <th class="memory">Memory</th>
                <th class="uuid">UUID</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <!-- }}} -->

   <!-- {{{ template vms-list-item -->
    <script id="template-vms-list-item" type="text/template">
      <tr>
        <td class="status">
          <span class="label 
            <% if (state == 'running') { %>label-success<% } %>
            <% if (state == 'stopped') { %><% } %>
            <% if (state == 'destroyed') { %>label-inverse<% } %>
            ">
            <%- state %>
          </span>
        </td>
        <td class="alias"><%= alias %></td>
        <td class="memory"><%= ram %> MB</td>
        <td class="uuid"><%= uuid %></td>
      </tr>
    </script>
    <!-- }}} -->

    <script type="text/template" id="template-monitoring-icmp-probe">
      <div class="probe-icmp-config">
      <form>
        <div class="modal-header"><h2>Create ICMP Probe</h2></div>
        <div class="modal-body">
            <div class="control-group host">
              <div class="control-label">Host</div>
              <div class="controls">
                <div class="input-append"> 
                  <input type="text" name="host" class="input input-large">
                  <p class="help-inline">Required</p>
                  <p class="help-block">Hostname or IP address to probe.</p>
                </div>
              </div>
            </div>

            <hr>

            <div class="control-group name">
              <div class="control-label">Name</div>
              <div class="controls">
                <div class="input-append"> 
                  <input type="text" name="name" class="input input-large">
                  <p class="help-inline">Required</p>
                  <p class="help-block">Name of probe</p>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal">Cancel</a>
          <button class="btn btn-primary" type="submit">Create Probe</button>
        </div>
        </form>
      </div>
    </script>

    <script type="text/template" id="template-monitoring-http-probe">
      <div class="probe-http-config">
      <form class="form-horizontal">
        <div class="modal-header"><h2>Create HTTP Probe</h2></div>
        <div class="modal-body">

            <fieldset>
              <div class="control-group name">
                <label class="control-label">Probe Name</label>
                <div class="controls">
                  <input type="text" name="name">
                </div>
              </div>

              <div class="control-group url">
                <label class="control-label">URL</label>
                <div class="controls">
                  <div class="input-append">
                    <select class="protocol" name="protocol">
                      <option value="http">http://</option>
                      <option value="https">https://</option>
                    </select>
                    <input type="text" name="url" class="input-xlarge">
                  </div>
                </div>
              </div>

            </fieldset>

            <hr>

            <fieldset>
              <div class="control-group">
                <label class="control-label"></label>
                <a data-toggle="collapse" data-target=".advanced-options">Advanced Options</a>
              </div>

              <div class="collapse advanced-options">
                <div class="control-group username">
                  <label class="control-label">Username</label>
                  <div class="controls">
                    <input name="username" type="text" class="input large">
                  </div>
                </div>

                <div class="control-group password">
                  <label class="control-label">Password</label>
                  <div class="controls">
                    <input name="password" type="text" class="input large">
                  </div>
                </div>

                <div class="control-group interval">
                  <label class="control-label">Check Interval</label>
                  <div class="controls">
                    <div class="input-append">
                    <input name="interval" type="text" class="input span1" placeholder="90">
                    <span class="add-on">seconds</span>
                    </div>
                  </div>
                </div>

                <div class="control-group max-response-time">
                  <label class="control-label">Maximum Response Time</label>
                  <div class="controls">
                    <div class="input-append">
                      <input name="max-response-time" type="text" class="input span1">
                      <span class="add-on">ms</span>
                    </div>
                  </div>
                </div>

              </div>

            </fieldset>
          </div> <!-- modal-body -->
          <div class="modal-footer">
            <div class="actions">
              <a class="btn" data-dismiss="modal">Cancel</a>
              <button class="btn btn-primary">Create Probe</button>
            </div>
          </div>
        </form>
      </div>
    </script>

    <script type="text/template" id="template-monitoring-machine-up-probe">
      <div class="probe-machine-up-config">
        <div class="modal-header">
          <h2>Create machine-up Probe</h2>
        </div>
        <div class="modal-body">
          <p>
            Watch for a VM (i.e. a virtual machine or zone) going up or down.
            Alarms for this probe will "clear", i.e. an alarm created for a
            machine going down will be automatically closed by the event sent when
            the machine comes back up.
          </p>
        </div>
        <div class="modal-footer">
          <div class="buttons">
            <a class="btn" data-dismiss="modal">Cancel</a>
            <button class="btn btn-primary">Create Probe</button>
          </div>
        </div>
      </div>
    </script>

    <!-- template monitoring-log-scan-probe {{{ -->
    <script type="text/template" id="template-monitoring-log-scan-probe">
      <div class="probe-log-scan-config">
        <div class="modal-header">
          <h2>Create Logscan Probe</h2>
        </div>

        <div class="modal-body">
          <form class="form-horizontal">

            <div class="control-group control-group-name">
              <label class="control-label">Name of Probe</label>
              <div class="controls">
                <input type="text" name="name" class="input-xlarge">
              </div>
            </div>


            <fieldset>
              <legend>Probe Configuration</legend>
              <div class="control-group control-group-path">
                <label class="control-label">Log File Path</label>
                <div class="controls">
                  <input type="text" name="path" class="input-xlarge">
                  <p class="help-block">Path to file on the VM to perform log scan on</p>
                </div>
              </div>

              <div class="control-group control-group-pattern">
                <label class="control-label">Pattern</label>
                <div class="controls">
                  <input type="text" name="pattern" class="input-xlarge">
                  <p class="help-block">
                  <label class="checkbox"><input type="checkbox" name="is-regex">
                    Pattern is a regular expression
                  </label>
                  </p>
                </div>
              </div>

              <div class="control-group control-group-period">
                <label class="control-label">Period</label>
                <div class="controls">
                  <div class="input-append">
                    <input type="text" name="period" placeholder="60"
                    class="span1" value="" size="4">
                    <span class="add-on">seconds</span>
                  </div>

                  <p class="help-block">Time window in which threshold number of matches must be found to alarm.  </p>
                </div>
              </div>

              <div class="control-group control-group-threshold">
                <label class="control-label">Threshold</label>
                <div class="controls">
                  <div class="input-append threshold-control">
                    <input type="text" name="threshold" class="span1" value="" placeholder="1" size="4">
                    <span class="add-on">times</span>
                  </div>
                  <p class="help-block">Number of times a match must be found
                  within period to alarm.</p>
                </div>
              </div>
            </fieldset>

          </form>
        </div>

        <div class="modal-footer">
          <div class="buttons">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <button class="btn btn-primary">Continue</button>
          </div>
        </div>

      </div>
    </script> <!-- }}} -->

    <!-- {{{ template images -->
    <script type="text/template" id="template-images">
      <div id="sdc-images">
        <div class="page-header">
          <h1>SDC Image Library</h1>
        </div>

        <div class="row">
          <div id="sdc-images-desc" class="span12">
            <div class="well">
              <h2>What is this?</h2>
              <p>
              SDC Image library is a repository of software appliances used to
              create Virtual Machines in SmartDataCenter.
              </p>
            </div>
          </div>
          <div id="sdc-images-list" class="span12"></div>
        </div>
      </div>
    </script>
    <!-- }}} -->

    <!-- {{{ template images-list -->
    <script type="text/template" id="template-images-list">
      <h3>{{os}}</h3>
      <ul class="thumbnails"></ul>
    </script>
    <!-- }}} -->

    <!-- {{{ template images-list-item -->
    <script type="text/template" id="template-images-list-item">
      <li class="span6">
      <div class="item">
        <h4 class="name">{{name}} <small class="label">{{version}}</small></h4>
        <p class="description">{{description}}</p>
        <button class="btn btn-small btn-info more-info pull-right">
          <i class="icon-search icon-white"></i> More Info
        </button>
      </div>
      </li>
    </script>
    <!-- }}} -->

    <!-- {{{ template images-detail -->
    <script type="text/template" id="template-images-detail">
      <div class="modal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>{{name}} {{version}}</h2>
        </div>
        <div class="modal-body">
          <p>{{description}}</p>
          <table class="table table-condensed">
            <tr>
              <th>UUID</th>
              <td>{{uuid}}</td>
            </tr>
            <tr>
              <th>URN</th>
              <td>{{urn}}</td>
            </tr>
            <tr>
              <th>Platform</th>
              <td><span class="label label-warning">{{platform_type}}</label></td>
            </tr>
          </table>

          <h3>Files</h3>
          <table class="table table-condensed">
            <tbody>
            {{#each files}}
            <tr>
              <td>{{path}}</td>
              <td>{{size_in_mb}} MB &nbsp; <small>{{size}} bytes</small></td>
              <td>
                <a href="{{url}}" class="label pull-right">
                  Download <i class="icon-download icon-white"></i> 
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button class="btn">Close</button>
          <div class="btn-group dropup pull-right">
            <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
              Import <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="pull-left" href="#">Import to US-WEST-1</a></li>
              <li><a class="pull-left" href="#">Import to US-EAST-1</a></li>
              <li><a class="pull-left" href="#">Import to US-SW-1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </script>
    <!-- }}} --->

    <!-- {{{ template amon-main -->
    <script type="text/template" id="template-monitoring">
      <div class="page monitoring">
        <div class="page-header"><h1>Monitoring</h1></div>
      </div>
    </script>
    <!-- }}} -->
  </body>
</html>
