.modal>form { margin: 0; }

#topnav a { cursor: pointer; }

#signin { margin: 0 auto; width: 300px;}
#signin input { width: 290px; }
#signin .header { margin-bottom: 30px; text-align: center; }

#content .page-header { overflow: hidden; }
#content h2 { font-weight: 300; }

#users-counters { text-align: center; }
#users-counters h5 { font-weight: 300; font-size: 36px; margin-top: 1em;}
#users-counters p { margin-top: 1.5em; margin-bottom: 2em; text-transform: uppercase; color: #666;}
