
<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright 2019 Joyent, Inc.
-->

<h3>Disks</h3>

<table class="table">

{{#if hasDisks}}
  <thead>
    <tr>
      <th>Disk</th>
      <th style="width: 120px;">size</th>
      <th style="width: 120px;">pci_slot</th>
      <th style="width: 120px;">boot</th>
      <th style="width: 120px;">model</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

{{/if}}

  <tbody></tbody>

  {{#role "operators"}}
  <tfoot>
    <td><button class="btn btn-info btn-sm show-disks-form"><i class="fa fa-plus"></i>Add Disk</button> </h3></td>
  </tfoot>
  {{/role}}
</table>
