<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{#if mac}}
            Configure Network Interface
            {{else}}
            Attach New Network Interface
            {{/if}}
          </h3>
        </div>

        <div class="modal-body">
          <div class="form-horizontal">
            <p class="alert alert-warning">Please Note that any changes to Network Interfaces triggers a reboot on the Container.</p>
            <div class="nic-config-component"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-link" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">
            {{#if mac}}
            Save Network Interface
            {{else}}
            Attach Network Interface
            {{/if}}
          </button>
        </div>
    </div>
</div>
