<div class="name"><a>{{name}}</a></div>
<div class="fingerprint">fingerprint: {{fingerprint}}</div>
<div class="actions">
    {{#role "operators"}}
    <a class="remove"><i class="fa fa-trash-o"></i></a>
    {{/role}}
</div>
