/*
 * app.css: application-specific styles
 *
 * These are styles that may be customized by consumers of CA widget.s  Layout
 * for the CA widgets themselves belong in ca.css.
 */

/*
 * General rules.
 */

html, body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: small;
	color: #333333;
	margin: 0;
	padding: 0;
}

tr {
	vertical-align: top;
}

h1,h2,h3 {
	color: #333;
}

a {
	color: #498eb5;
	font-weight: bold;
	text-decoration: none;
}


/*
 * Reusable components.
 */

.capHorizontalSeparator {
	visibility: hidden;
}

.capLightText {
	color: #999999;
}


/*
 * Header
 */
 .capHeader {
 	color: rgb(51, 51, 51);
 	display: block;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	font-size: 24px;
 	font-weight: 300;
 	height: 40px;
 	line-height: 40px;
 	margin: 10px 0;
 	text-rendering: optimizelegibility;
 }


/*
 * Console: the actual body of the page where the real content lives.
 */
.capBody {
	margin: 0 auto;
	width: 970px;
	min-height: 95%;
}

.capConsole {
	width: 960px;

	min-height: 85%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.capConsoleHeader {
	height: 40px;
	white-space: nowrap;
}

.capConsoleHeaderBox {
	text-align: left;
	line-height: 1.6em;
	width: 450px;
	position: absolute;
	right: 15px;
	top: 20px;
}

.capConsoleHeaderBox > * {
	margin-right: 10px;
}

.capConsole > div {
	margin-bottom: 10px;
}

.capConsole > div.caGraph {
	margin-bottom: 40px;
}


.capControls {
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	background-color: rgb(245, 245, 245);
	border-bottom-color: rgb(227, 227, 227);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(227, 227, 227);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(227, 227, 227);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(227, 227, 227);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	min-height: 20px;
	padding: 20px;
	background: #f8f8f8;
}
.capControls > div {
	display: inline-block;
	vertical-align: top;
}
