<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<script language="javascript" type="text/javascript" src="/ca-vis/demo/jquery-contextMenu.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/demo/jquery-ui-1.8.8.custom.min.js"></script>

<style>
  .ui-icon-zoomout {
    background-position: -1000px -1000px !important;
  }
  .ui-icon-zoomin {
    background-position: -1000px -1000px !important;
  }
</style>

<script>
var visConfig = {
  // get list of available metrics, fields, types, modules, etc.
  getMetrics : '/ca',

  // path to query to get all active instrumentations
  getAllInstrumentations : '/ca/instrumentations',

  // post a new instrumentation (usually the same as getAll)
  postInstrumentation : '/ca/instrumentations',

  // CSS selector for the element that should contain the
  // instrumentation-creation UI.
  leaflistContainerSelector : '#visCreate',

  // CSS selector for the instrumentation creation button.
  visCreateButton : '#visCreateButton',

  // CSS selector for the element that should contain the
  // actual visualizations
  visualizationContainerSelector : '#visContainer',

  requestHeaders : { 'x-adminui-dc': 'coal' },

  proxyPath : "/ca/instrumentations/"
}
</script>

<div id="ca" class="wrap">
  <div class="page-header">
    <h1>Cloud Analytics</h1>
  </div>

  
  <div id="form" class="metrixChooser well">
    <p>
      Cloud Analytics provides deep observability for systems and applications in a SmartDataCenter cloud. This service enables operators and end users to dynamically instrument systems in the cloud to collect performance data that can be visualized in real-time.
    </p>
    <h3>Select a Metric</h4>
    <div class="selectContainer">
      <div id="visCreate"></div>
      <div id="visButton"><input type='button' class="btn btn-small btn-info button primary_action" id='visCreateButton' value="Create Instrumentation" /></div>
    </div>
  </div>

  <div id="visContainer" class="gGraphContainer"></div>
</div>

<script language="javascript" type="text/javascript" src="/ca-vis/extlib.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/metrics.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/updater.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/caRawDataStore.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/color.js"></script>
<script language="javascript" type="text/javascript" src="/ca-vis/analyticsVis.js"></script>
