<div class="page-header">
  <h2>Import Image</h2>
</div>

<div class="source-select">
  <select class="form-control image-source">
    <option value="https://images.joyent.com/">images.joyent.com</option>
    <option value="https://updates.joyent.com/">updates.joyent.com</option>
  </select>
</div>


<h3>Select Image to Import</h3>
<div class="images-list-region"></div>
