<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<thead>
  <tr>
    <th class="state"></th>
    <th class="name">Name</th>
    <th class="virt">Virt</th>
    <th class="os">OS</th>
    <th class="visibility">Visibility</th>
  </tr>
</thead>
<tbody>
</tbody>
<caption align="bottom">
  <span class="record-count"></span> Images
</caption>
