<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="page-header">
  <h2>Import Image</h2>
</div>

<div class="source-select row">
    <form>
    <div class="col-sm-3" style="padding:0; padding-left: 15px;">
        <select class="form-control image-source">
            <option value="https://images.joyent.com/">images.joyent.com</option>
            <option value="https://updates.joyent.com/">updates.joyent.com</option>
        </select>
    </div>
    <div class="col-sm-7" style="padding:0;">
        <input type="text" name="name" placeholder="Search by image name or exact UUID" class="form-control"/>
    </div>
    <div class="col-sm-2" style="padding:0; padding-right: 15px;">
        <button type="submit" class="btn btn-block btn-primary btn-info search"><i class="fa fa-search"></i> Search</button>
    </div>
</form>
</div>


<h3>Select Image to Import</h3>
<div class="images-list-region"></div>
