<thead>
  <tr>
    <th class="state"></th>
    <th class="name">Name</th>
    <th class="published">Published</th>
    <th class="os">OS</th>
    <th class="visibility">Visibility</th>
  </tr>
</thead>
<tbody>
</tbody>
<caption align="bottom">
  <span class="record-count"></span> Images
</caption>
