<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<table class="table jobs-table">
  <thead>
    <th class="execution"></th>
    <th class="name">Name / UUID</th>
    <th class="when">When</th>
  </thead>
  <tbody></tbody>
</table>
