<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<section>
    <h3>Networks
    {{#role "operators"}}
        <div class="actions pull-right">
            <button type="button" class="btn btn-sm btn-info" name="create-network"><i class="fa fa-plus"></i> New Network</button>
        </div>
    {{/role}}
    </h3>
    <div class="row">
        <div class="col-sm-9 filters">
            <div class="col-md-8">
                <input type="text" name="owner_uuid" class="form-control search-owner"
                       placeholder="Search for Networks by Owner login, email or uuid" />
            </div>
            <div class="col-md-4">
                <span class="control-label">NIC Tag: </span>
                <select class="form-control" name="nictag" class="col-md-2"></select>
            </div>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info search-networks"><i class="fa fa-search"> </i> Search</button>
            </span>
        </div>

    </div>
    <div class="networks-list"></div>
    <div class="pagination-networks"></div>
</section>

<section>
    <h3>Network Pools
    {{#role "operators"}}
        <div class="actions pull-right">
            <button type="button" class="btn btn-sm btn-info" name="create-network-pool"><i class="fa fa-plus"></i> New Network Pool</button>
        </div>
    {{/role}}
    </h3>
    <div class="network-pools-list"></div>
</section>
