<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="page-header">
  <h1>Networking</h1>
</div>

<ul class="nav nav-tabs">
  <li><a data-view="networks" href="#">Networks &amp; Network Pools</a></li>
  <li><a data-view="nictags" href="#">NIC Tags</a></li>
</ul>

<div class="tab-panel"></div>
