<div class="page-header">
  <h1>Networking</h1>
</div>

<ul class="nav nav-tabs">
  <li><a data-view="networks" href="#">Networks &amp; Network Pools</a></li>
  <li><a data-view="nictags" href="#">NIC Tags</a></li>
</ul>

<div class="tab-panel"></div>
