<section>
  <h3>Networks
    {{#role "operators"}}
    <div class="actions pull-right">
      <button type="button" class="btn btn-sm btn-info" name="create-network"><i class="fa fa-plus"></i> New Network</button>
    </div>
    {{/role}}
  </h3>
  <div class="networks-list"></div>
</section>

<section>
  <h3>Network Pools
    {{#role "operators"}}
    <div class="actions pull-right">
      <button type="button" class="btn btn-sm btn-info" name="create-network-pool"><i class="fa fa-plus"></i> New Network Pool</button>
    </div>
    {{/role}}
  </h3>
  <div class="network-pools-list"></div>
</section>
