<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="network-pool-header">
  <span class="name">{{name}}</span>
  <span class="network-count">{{networks.length}} networks</span>
  {{#role "operators"}}
  <a class="delete"><i class="fa fa-trash-o"></i> </a>
  <a class="edit"><i class="fa fa-pencil"></i> Edit</a>
  {{/role}}
  <span class="uuid">{{uuid}}</span>
</div>
<div class="networks-list-container"></div>
