<h3>Network Interfaces</h3>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20px"></th>
      <th>Network</th>
      <th style="width: 120px;">IP</th>
      <th style="width: 120px ;">Netmask</th>
      <th style="width: 140px;">MAC Address</th>
      <th>Tag</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>

  {{#role "operators"}}
  <tfoot>
    <td colspan="6">
      <button class="btn btn-danger remove-nics"><i class="fa fa-remove"></i></button>
      <button class="btn btn-info btn-sm add-nic"><i class="fa fa-plus"></i> Add New NIC</button>
    </td>
  </tfoot>
  {{/role}}
</table>
