<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="title">
  <span name="name"></span> <span name="version"></span>
</div>
<strong>Memory</strong> <span name="max_physical_memory"></span> MB<br>
<strong>Swap</strong> <span name="max_swap"></span> MB<br>
<strong>V-CPUs</strong> <span name="vcpus"></span><br>
<strong>Disk Quota</strong> <span name="quota"></span><br>
<strong>Disk IO Priority</strong> <span name="zfs_io_priority"></span>
