<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Change VM Package</h2>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger"></div>
            <p>Resize this Virtual Machines to package: </p>
            <select style="width:100%;" name="package"></select>
            <div class="package-preview-container"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Resize to selected package</button>
        </div>
    </div>
</div>
