<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Manage Server NICs</h4>
        </div>
        <div class="modal-body">
            <p class="alert alert-info">Please specify the NIC Tags each of the nics provide below. Each nic tag should be separated by a space</p>
            <form class="form form-horizontal"></form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal">Close</button>
            <button class="btn btn-primary save">Save Changes</button>
        </div>
    </div>
</div>
