<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright 2019 Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">Server Setup</h4></div>
        <div class="modal-body">
            <p class="alert alert-info">Server setup installs the required software agents to enable provisioning on this server.</p>
            <form class="form form-horizontal">
                <div class="form-group">
                    <div class="controls col-sm-offset-2 col-sm-8">
                        <div>
                            <label>Specify a custom hostname (optional):</label>
                        </div>
                        <div class="custom-hostname-container">
                            <input type="text" class="form-control" name="hostname" />
                            <p class="help-block"><span class="label label-warning">Hostname cannot be changed after setup</span></p>
                        </div>

                        <div class="checkbox">
                            <label><input class="delegate-dataset" name="encryption_enabled" type="checkbox">Encryption Enabled</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary setup">Setup Server</button>
        </div>
    </div>
</div>
