<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Manage NIC Tags Provided by Server NICs</h4>
        </div>
        <div class="modal-body">
            <p class="alert alert-info">Specify the <b>NIC Tags Provided</b> by selecting one or more NIC Tags.<br/>
                Notes:<br/>
                1. To manage NIC tags provided by link aggregates, please use the <b>Link Aggregation</b> page.<br/>
                2. <b>NIC Tag</b> is a separate attribute derived from the network on which the NIC is located. It cannot be modified here.</br>
            </p>  
            <form class="form form-horizontal"></form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal">Close</button>
            <button class="btn btn-primary save">Save Changes</button>
        </div>
    </div>
</div>
