<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="row">
    <div class="col-md-12">
        <form role="form" class="filter-options">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">UUID</label>
                    <input type="text" class="form-control" name="uuid" placeholder="UUID">
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Hostname</label>
                    <input type="text" class="form-control" name="hostname" placeholder="Hostname">
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Setup State</label>
                    <select class="form-control" name="setup" class="col-md-2">
                        <option value="">any</option>
                        <option value="true">setup</option>
                        <option value="false">not setup</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Sort By</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                        <select name="sort" class="form-control sort">
                            <option value="hostname">hostname</option>
                            <option value="provisionable_ram">provisionable ram</option>
                            <option value="current_platform">current platform</option>
                            <option value="current_platform">boot platform</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
