<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="page-header">
  <h1>Applications &amp; Services</h1>
</div>

<ul class="nav nav-tabs">
    <li data-section-type="all"><a>All</a></li>
    <li data-section-type="sdc"><a>SDC</a></li>
    <li data-section-type="manta"><a>Manta</a></li>
</ul>

<div class="row">
    <div class="info col-sm-3">
        <ul class="service-filters">
            <li service-filter-type="all" class="active">
                <a>
                    <span class="number-of-services all"></span>
                    <span class="name"> All </span>
                </a>
            </li>
            <li service-filter-type="agent">
                <a>
                    <span class="number-of-services agent"></span>
                    <span class="name"> Agents </span>
                </a>
            </li>
            <li service-filter-type="vm">
                <a>
                    <span class="number-of-services vm"></span>
                    <span class="name"> VMs </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="applications col-sm-9">
        <div class="application">
            <div class="services"></div>
        </div>
    </div>
</div>

