<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="row">
  <div class="info col-sm-3">
    <h4>{{name}}</h4>
    <span class="number-of-services"></span> Services<br>
  </div>

  <div class="services col-sm-9"></div>
</div>
