<div class="link-status"></div>
<div class="name-container">
    <span class="name"></span>
    <span class="mac"></span>
</div>
<div class="ip-container">
    <span class="lbl">IP</span>
    <span class="ip value"></span>
</div>
<div class="netmask-container">
    <span class="lbl">NETMASK</span>
    <span class="netmask value"></span>
</div>
<div class="vlan-id-container">
    <span class="lbl">VLAN</span>
    <span class="vlan-id value"></span>
</div>
<div class="nic-tag-container">
    <span class="lbl">NICTAG</span>
    <span class="nic-tag value"></span>
</div>
{{#if nic_tags_provided}}
<div class="nic-tags-provided-container">
    <span class="lbl">NICTAGS-PROV</span>
    <span class="nic-tags-provided value"></span>
</div>
{{/if}}
