<div class="page-header">
  <h1>Servers
    {{#role "operators"}}
    <div class="actions">
      <button class="toggle-boot-options btn btn-info"><i class="fa fa-pencil"></i> Default Boot Options</button>
    </div>
    {{/role}}
  </h1>
</div>

<div class="default-boot-options-region"></div>
<div class="servers-filter-region"></div>

<div class="row">
  <div class="col-md-12 servers-list">
    <div class="servers-list-region"></div>
    <div class="record-summary">
      <span class="record-count"></span> Servers
    </div>
  </div>
</div>

