<div class="zero-state">
  There are no tags for this image.
</div>
<table class="table editable">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>
  <tbody></tbody>
  <tfoot>
  </tfoot>
</table>
{{#role "operators"}}
<button class="btn btn-link add-tag"><i class="fa fa-plus"></i> Add a tag</button>
{{/role}}
