<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">
        {{#if title}}
            {{title}}
        {{else}}
            Traits
        {{/if}}
        </h2>
      </div>
      <div class="modal-body">
        {{#if description}}
          <p>{{description}}</p>
          {{else}}
          <p>Traits are properties utilized by the provisioning algorithms to determine placement of provisions.</p>
          {{/if}}
          <textarea></textarea>
      </div>
      <div class="modal-footer" style="margin-top: 0;">
          <div class="error"></div>
          <button class="btn btn-link" data-dismiss="modal">Close</button>
          <button class="btn btn-primary">Save &amp; Close</button>
      </div>
  </div>
</div>
