<div class="users-list"></div>
<div class="caption">
  <a class="more">Load More Users</a>
  <div class="counters">
    Showing <span class="current-count"></span> of <span class="record-count"></span> Users
  </div>
</div>
