<div class="user-info">
    <a class="user-details-link" target="_tab" href="/users/{{uuid}}"><i class="fa fa-external-link"></i> {{uuid}}</a>
    <span class="login"><i class="fa fa-user"></i> {{login}}</span>
</div>