<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="datacenter">{{datacenter}}
  <div class="actions">
    <a class="edit"><i class="fa fa-pencil"></i> Edit</a>
    <a class="del"><i class="fa fa-trash-o"></i></a>
  </div>
</div>
{{#each limits}}
<div class="limit">
  <div class="image">{{this.image}}</div>
  <div class="value">{{this.value}}</div>
</div>
{{/each}}
