<div class="page-header">
    <h1>Accounts &amp; Users
    {{#role "operators"}}
    <div class="actions">
        <button data-event="new-user" class="btn btn-info">
        <i class="fa fa-plus"></i> Create New User
        </button>
    </div>
    {{/role}}
    </h1>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="users-search">
            <input class="form-control" type="text" name="quicksearch" placeholder="Search by UUID, Login, Name, Company or Email">
        </div>
    </div>
    <div class="col-md-12">
        <div class="users-list"></div>
    </div>
</div>
