<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!--
    Copyright (c) 2014, Joyent, Inc.
-->

<div class="vms-list-header">
    <div class="title">
        Showing <span class="current-count"></span> of <span class="record-count"></span> Virtual Machines<br/>
    </div>
    <div class="actions">
        <a class="export">Export (<span class="record-count"></span>) <i class="fa fa-share-square"></i></a>
    </div>
</div>
<table class="table">
    <tbody></tbody>
    <caption class="row" align="bottom">
        <div class="col-sm-offset-6 col-sm-4" style="padding-left: 0; padding-right:0;">
            <a class="more btn btn-block btn-success"><i class="fa fa-arrow-circle-down"></i> &nbsp; Load More</a>
        </div>
        <div class="col-sm-2" style="padding-left: 0;">
            <a class="all btn btn-block btn-info"><i class="fa fa-arrow-circle-down"></i> &nbsp; Load All (<span class="record-count"></span>)</a>
        </div>
    </caption>
</table>
<div class="export-container"></div>
