<table class="table">
  <tbody>
  </tbody>
  <caption class="row" align="bottom">
    <div class="col-sm-6" style="padding-right:0;">
        <div class="counters">
          <span class="current-count"></span> of <span class="record-count"></span> Virtual Machines
        </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0; padding-right:0;">
        <a class="more btn btn-block btn-success"><i class="fa fa-arrow-circle-down"></i> &nbsp; Load More</a>
    </div>
    <div class="col-sm-2" style="padding-left: 0;">
        <a class="all btn btn-block btn-info"><i class="fa fa-arrow-circle-down"></i> &nbsp; Load All (<span class="record-count"></span>)</a>
    </div>
  </caption>
</table>
