<ul class="unstyled alarms-list">
	<% alarms.each(function(alarm) { %>
	<li>
		<div class="details">
			<h6>
				<% if (alarm.probeGroup) { %>
				<%= alarm.probeGroup.get('name') %>
				<% } else { %>
				<%= alarm.probe.get('name') %>
				<% } %>
			</h6>

			<ul class="unstyled faults">
				<% _.each(alarm.get('faults'), function(fault) { %>
				<li>
					<%= fault.probe.get('name') %>
				</li>
				<% }); %>
			</ul>
		</div>

		<div class="actions">
			<button class="btn btn-link">
				<i class="icon-remove"></i> 
				Close</button>
		</div>
		<% }); %>
	</li>
</ul>
