<div class="modal metadata-view">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 data-bind="text: key"></h3>
	</div>
	<div class="modal-body" data-bind="text: value"></div>
</div>
