<div class="modal metadata-edit">
	<div class="modal-header">
		<input data-bind="value: key" placeholder="metadata key" />
	</div>
	<div class="modal-body">
		<textarea data-bind="value: value" placeholder="metadata value"></textarea>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a>
		<button class="btn btn-info" 
		data-bind="click: saveAction, enable: dataIsGood">Save changes</button>
	</div>
</div>